<c-components.nav-section label="S'orienter">
    <c-components.nav-link label="Trouver la bonne formation" />
    <c-components.nav-link label="Parler à une ambassadrice" />
</c-components.nav-section>

<c-components.nav-section label="S'entourer">
    <c-components.nav-link href="{% url "find_mentor_landing" %}" label="Trouver une mentore" />
    <c-components.nav-link label="Rejoindre le club" />
</c-components.nav-section>

<c-components.nav-section label="Passer à l'action">
    <c-components.nav-link label="Trouver un stage ou une alternance" />
    <c-components.nav-link label="Participer à des évènements" />
</c-components.nav-section>
