{% load static home_url coalition_page %}
{% home_url as home_url %}
{% url "coalition_home" as coalition_home %}
{% is_coalition_page as is_coalition_page %}
<aside class="sticky top-0 h-dvh w-[264px] bg-neutral-0 md:border-r-2 md:border-primary-500 md:rounded-r-lg flex flex-col">
    <div class="flex-1 min-h-0 overflow-y-auto px-3 pt-12 xl:pt-3">
        <div class="pb-2 mb-6">
            <c-components.brand-mark class="hidden xl:inline" />
        </div>
        {% if home_url == coalition_home or is_coalition_page %}
            {% include "cotton/layout/partials/sidebars/sidebar_coalition.html" %}
        {% endif %}
    </div>
    <div class="border-t border-blue-background p-3">
        <ul class="flex flex-col gap-1 mb-5">
        {% if request.user.is_authenticated %}
            <c-components.nav-link href="{% url "account" %}" label="Mon compte" icon-active="mon-compte-bold" icon="mon-compte-light" />
        {% else %}
            <c-components.nav-link href="{% url "login_request" %}?back={{ request.get_full_path|urlencode }}" label="Se connecter" icon-active="mon-compte-bold" icon="mon-compte-light" />
            {% endif %}
            <c-components.nav-link href="{% url "a_propos" %}" label="À propos" active="{% if request.resolver_match.url_name in 'a_propos notre_manifeste qui_sommes_nous pourquoi_nous_ecrivons_au_feminin contact' %}true{% endif %}" />
        <c-components.button
            href="{% if home_url == coalition_home %}https://www.techpourtoutes.io/{% elif is_coalition_page %}{{ home_url }}{% else %}{{ coalition_home }}{% endif %}"
            label="{% if home_url == coalition_home or is_coalition_page %}Découvrir le programme{% else %}S'engager{% endif %}"
            variant="secondary"
        />
        </ul>
        <div class="flex items-center justify-between">
            <img src="{% static 'svg/rf.svg' %}"
                 alt="République Française"
                 class="h-14 w-auto" />
            <img src="{% static 'svg/france-2030.svg' %}"
                 alt="France 2030 — Lauréat"
                 class="h-14 w-auto" />
        </div>
    </div>
</aside>
