<c-components.nav-section label="Accompagner individuellement" class="bg-purple-500">
    <c-components.nav-link href="{% url "mentor_landing" %}" label="Mentorer" icon="mentorer" icon_class="w-6 h-6"/>
    <c-components.nav-link href="{% url "internships_landing" %}" label="Accueillir une stagiaire"  icon="accueillir-une-stagiaire" icon_class="w-6 h-6"/>
    <c-components.nav-link href="{% url "work_ambassador_landing" %}" label="Pitcher mon métier" icon="pitcher-mon-metier" icon_class="w-6 h-6"/>
</c-components.nav-section>

<c-components.nav-section label="Soutenir la coalition" class="bg-purple-500">
    <c-components.nav-link href="{% url "training_ambassador_landing" %}" label="Devenir ambassadrice étudiante" icon="devenir-ambassadrice-etudiante" icon_class="w-6 h-6"/>
    <c-components.nav-link href="{% url "sponsor_landing" %}" label="Devenir mécène" icon="devenir-mecene" icon_class="w-6 h-6"/>
</c-components.nav-section>

<c-components.nav-section label="Motiver mes élèves" class="bg-purple-500">
    <c-components.nav-link href="{% url "workshops_landing" %}" label="Organiser un atelier" icon="organiser-un-atelier" icon_class="w-6 h-6"/>
</c-components.nav-section>
