<footer class="text-[11px] p-4">
  <nav class="flex flex-wrap justify-center items-center gap-y-6">
    <c-components.button label="Données personnelles et cookies" href="{% url "donnees_personnelles" %}" class="px-4 border-r border-accent-100" variant="tertiary" size="sm"/>
    <c-components.button label="Mentions légales" href="{% url "mentions_legales" %}" class="px-4 border-r border-accent-100" variant="tertiary" size="sm"/>
    <c-components.button label="CGU - Coalition" href="{% url "conditions_generales" %}" class="px-4 border-r border-accent-100" variant="tertiary" size="sm"/>
    <c-components.button label="Pourquoi nous écrivons au féminin" href="{% url "pourquoi_nous_ecrivons_au_feminin" %}" class="px-4 border-r border-accent-100" variant="tertiary" size="sm"/>
    <c-components.button label="Accessibilité : non conforme" href="{% url "accessibilite" %}" class="px-4" variant="tertiary" size="sm"/>
  </nav>
</footer>
