<footer class="text-[11px] p-4">
  <nav class="flex flex-wrap justify-center items-center gap-y-2">
    <a href="{% url "donnees_personnelles" %}" class="link-hover px-4 border-r border-accent-100">Données personnelles et cookies</a>
    <a href="{% url "mentions_legales" %}" class="link-hover px-4 border-r border-accent-100">Mentions légales</a>
    <a href="{% url "conditions_generales" %}" class="link-hover px-4 border-r border-accent-100">CGU - Coalition</a>
    <a href="{% url "pourquoi_nous_ecrivons_au_feminin" %}" class="link-hover px-4 border-r border-accent-100">Pourquoi nous écrivons au féminin</a>
    <a href="{% url "accessibilite" %}" class="link-hover px-4">Accessibilité : non conforme</a>
  </nav>
</footer>
