<c-vars back="" />

<body class="min-h-screen font-sans bg-blue-background text-neutral-900">
    <c-components.button
        variant="icon"
        href="{% if back %}{{ back }}{% else %}{% url 'coalition_home' %}{% endif %}"
        icon="close-thin"
        icon_size_class="w-5 h-5"
        class="absolute top-3 right-3 md:top-10 md:right-20 z-50 p-1 rounded-sm text-primary-700"
        aria-label="Fermer"
    />
    <div class="flex min-h-screen flex-col">
        <c-layout.partials.messages wrapper_class="w-full max-w-xl mx-auto px-8 pt-4 flex flex-col gap-y-2" />
        <main class="flex flex-1 items-center justify-center px-4">
            <div class="w-full max-w-xl flex justify-center">
                {{ slot }}
            </div>
        </main>
        <c-layout.partials.footer />
    </div>
</body>
