{% load tailwind_cli static matomo coalition_page %}
<c-vars title="TechPourToutes" description="" og_image="" head_js="" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <meta property="og:title" content="{{ title }}">
    {% if description %}<meta property="og:description" content="{{ description }}">{% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% if og_image %}{{ og_image }}{% else %}{{ SITE_URL }}{% static 'images/coalition-tpt-white.png' %}{% endif %}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% matomo_tracking %}
    <title>{{ title }}</title>
    {% if FAVICON_DYNAMIC_ENABLED %}
        {% is_coalition_page as is_coalition_page %}
        <link rel="icon" type="image/svg+xml" href="{% if is_coalition_page %}{% static 'images/favicon-tpt-coalition.svg' %}{% else %}{% static 'images/favicon-tpt-beneficiary.svg' %}{% endif %}">
    {% else %}
        <link rel="icon" type="image/png" href="{% static FAVICON_NAMEFILE|add:".png" %}">
    {% endif %}
    {% tailwind_css %}
    {% for src in head_js.split %}<script defer src="{% static src %}"></script>{% endfor %}
    <script defer src="{% static 'js/alpine.min.js' %}"></script>
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
</head>
