<div id="funnel-step" class="w-full h-full flex flex-col justify-center gap-y-4">
    <c-components.card nobg=True>
        <c-components.title title="Votre événement est en cours de validation." variant="h1" />
        <p class="text-sm text-neutral-950 mt-4">
            Vous recevrez un mail quand votre événement sera validé. Il sera alors en ligne et
            visible automatiquement.
        </p>
        <div class="mt-6">
            <c-components.button href="{% url 'account' %}" label="Retourner sur mon compte" />
        </div>
    </c-components.card>
</div>
