<c-vars
    field=field
    label=""
    description=""
    message=""
    :errors=[]
    placeholder=""
    name=""
    id=""
    value=""
    variant="default"
    class=""
/>

<c-components.form-fields.base label=label description=description message=message class=class>
    <input
        type="text"
        x-data
        x-init="flatpickr($el, {
            locale: 'fr',
            dateFormat: 'Y-m-d',
            altInput: true,
            altFormat: 'd/m/Y',
            maxDate: 'today',
            allowInput: true,
            onReady(_dates, _str, instance) {
                instance.altInput.className = instance.input.className;
                instance.altInput.placeholder = instance.input.placeholder;
            },
        })"
        id="{{ field.id_for_label|default:id }}"
        value="{{ field.value|default:value }}"
        name="{{ field.html_name|default:name }}"
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if variant == "disabled" %}disabled aria-disabled="true"{% endif %}
        {% if field.errors or errors or variant == "error" %}aria-invalid="true"{% endif %}
        class="field-base {% if variant == "disabled" %}field-disabled{% elif field.errors or errors or variant == "error" %}field-error{% elif variant == "valid" %}field-valid{% else %}field-default{% endif %}"
    />
</c-components.form-fields.base>
