<c-vars
    field=field
    label=""
    description=""
    message=""
    :errors=[]
    placeholder=""
    name=""
    id=""
    value=""
    variant="default"
    class=""
    alpine_label=""
    autocomplete=""
/>

<c-components.form-fields.base label=label alpine_label=alpine_label description=description message=message class=class>
    <input
        type="text"
        id="{{ id|default:field.id_for_label }}"
        value="{{ value|default:field.value|default:"" }}"
        name="{{ name|default:field.html_name }}"
        autocomplete="{{ autocomplete|default:field.html_name }}"
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if variant == "disabled" %}disabled aria-disabled="true"{% endif %}
        {% if field.errors or errors or variant == "error" %}aria-invalid="true"{% endif %}
        class="field-base {% if variant == "disabled" %}field-disabled{% elif field.errors or errors or variant == "error" %}field-error{% elif variant == "valid" %}field-valid{% else %}field-default{% endif %}"
    />
</c-components.form-fields.base>
