<!DOCTYPE html>
{% load tailwind_cli %}
<html data-theme="techpourtoutes">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TechPourToutes</title>
        {% tailwind_css %}
    </head>
    <body class="flex min-h-screen font-sans bg-blue-background text-neutral-900">
        <c-layout.partials.sidebar />
        <div class="flex flex-col justify-between w-full">
            <main class="flex">
                <div class="flex flex-col py-8 px-4 gap-y-4 items-start justify-start w-full h-max">
                    {{ slot }}
                </div>
                {{ right }}
            </main>
            <c-layout.partials.footer />
        </div>
    </body>
</html>
