{% load home_url %}

<c-layout.base variant="funnel" back="{{ back }}">
    <div class="flex flex-col min-h-[80dvh] md:min-w-[560px] w-full items-center justify-center gap-y-8 [@media(max-height:860px)]:mt-12">
        <c-components.card class="md:px-32 py-8">
            <c-components.title title="Se connecter" variant="h1" class="text-center justify-center" />
            {% if heading %}
                <c-components.title title="{{ heading }}" variant="h2-black" class="mt-5" />
            {% endif %}
            <p class="mt-2 md:mt-3">
                Saisir le code à 6 chiffres envoyé par mail à {{ recipient_prefix }}<strong>{{ masked_recipient }}</strong>
            </p>
            <c-patterns.form url="{% url 'login_code' %}" class="mt-4">
                {% if token %}<input type="hidden" name="token" value="{{ token }}">{% endif %}
                <c-components.form_fields.input field=form.code autocomplete="one-time-code" />
                <div class="flex justify-center">
                    <c-components.button type="submit" label="Continuer" class="justify-center" />
                </div>
            </c-patterns.form>
            <c-patterns.form url="{% url 'login_request' %}" class="mt-2 items-center">
                {% if token %}<input type="hidden" name="token" value="{{ token }}">{% endif %}
                {% if email %}<input type="hidden" name="email" value="{{ email }}">{% endif %}
                <c-components.button type="submit" label="Je n'ai pas reçu de code" variant="quaternary" />
            </c-patterns.form>
        </c-components.card>
    <div class="flex w-full flex-col items-center justify-center gap-y-2 md:flex-row md:flex-wrap md:gap-x-5">
        <p class="text-sm text-center w-full">
            Pas encore de compte ?
        </p>
        {% url "coalition_home" as coalition_home %}
        {% home_url as home_url %}
        {% if home_url != coalition_home %}
            <c-components.button href="{{ home_url }}" label="Je veux bénéficier du programme" variant="quaternary" class="w-full text-center md:w-auto" />
        {% endif %}
        <c-components.button href="{{ coalition_home }}" label="Je veux soutenir le programme" variant="quaternary" class="w-full text-center md:w-auto" />
    </div>
    </div>
</c-layout.base>
