{% load static home_url coalition_page %}
{% is_coalition_page back as is_coalition_page %}
<c-layout.base variant="funnel" back="{{ back }}">
    <div class="w-full md:max-w-xl flex flex-col py-8">
        <img src="{% static 'images/techpourtoutes-logo-new-beneficiary.png' %}" alt="logo TechPourToutes" class="w-48 shrink-0 mb-8" />
        <div class="w-full flex flex-col gap-y-4 my-auto divide-y divide-neutral-200">
            <c-patterns.form url="{% url "login_request" %}" class="mb-4">
                <c-components.title title="Se connecter" variant="h1" />
                <c-components.form_fields.input
                    field=form.email
                    autocomplete="email"
                    description="exemple : hedy.lamarr@techpourtoutes.io"
                />
                <input type="hidden" name="next" value="{{ next }}">
                <input type="hidden" name="back" value="{{ back }}">
                <div class="flex justify-center">
                    <c-components.button type="submit" label="Continuer" class="justify-center" />
                </div>
            </c-patterns.form>
            <div class="flex w-full flex-col items-center justify-center gap-y-2 md:flex-row md:flex-wrap md:gap-x-5">
                <p class="text-sm text-center w-full">
                    Pas encore de compte ?
                </p>
                {% url "coalition_home" as coalition_home %}
                {% home_url as home_url %}
                {% if home_url != coalition_home %}
                    <c-components.button href="{{ home_url }}" label="Je veux bénéficier du programme" variant="tertiary" class="text-center md:w-auto" />
                {% endif %}
                <c-components.button href="{{ coalition_home }}" label="Je veux soutenir le programme" variant="tertiary" class="text-center md:w-auto" />
            </div>
        </div>
    </div>

    <c-slot name="right">
        <div class="hidden md:block flex-1 relative">
            <img src="{% static 'images/inscription-funnel-hero.webp' %}"
                 alt="Le futur sera numérique... et féminin"
                 class="absolute inset-0 w-full h-full object-cover" />
        </div>
    </c-slot>
</c-layout.base>
