<c-layout.auth_base>
    <div class="flex flex-col min-h-[80dvh] md:min-w-[560px] w-full items-center justify-center gap-y-8">
        <c-components.card class="py-8">
            <c-components.title title="Se connecter" variant="h1" class="text-center justify-center mb-4" />
            <c-components.title title="Consultez votre boîte mail" variant="h2-black" />
            <p class="mt-3">
                Un lien pour vous connecter automatiquement à votre compte vient de vous être envoyé à l'adresse :
            </p>
            <p class="mt-3 mb-8 text-center font-medium break-all underline">{{ email }}</p>

            <c-components.title title="Aucun email reçu ?" variant="intertitre" class="mt-5" />
            <c-components.list>
                Vérifiez votre dossier "courrier indésirable" (spam)
                Sinon, demandez l'envoi d'un nouvel email
            </c-components.list>

            <c-patterns.form url="{% url 'login_request' %}" class="mt-2">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="exit" value="{{ exit }}">
                <c-components.button type="submit" label="Demander l'envoi d'un nouvel email" variant="quaternary" class="text-left w-fit" />
            </c-patterns.form>

            <c-components.title title="L'adresse mail saisie est erronée ?" variant="intertitre" class="mt-5 mb-3" />
            <c-components.button href="{% url 'login_request' %}?exit={{ exit|urlencode }}" label="Modifier mon adresse mail" variant="quaternary" class="block w-fit" />
        </c-components.card>
        <div class="flex items-center">
            <p class="text-sm text-center">
                Pas encore de compte ?
            </p>
            <c-components.button href="{% url "coalition_home" %}" label="S'engager avec TechPourToutes" variant="quaternary" class="ml-3" />
        </div>
        <p class="text-xs text-center">
            En continuant, vous reconnaissez avoir compris et accepté les
            <c-components.inline-link label="Conditions d'utilisation" href="{% url 'conditions_generales' %}" />
            et la
            <c-components.inline-link label="politique de gestion des données personnelles" href="{% url 'donnees_personnelles' %}" />
            de TechPourToutes.
        </p>
    </div>
</c-layout.auth_base>
