{% load home_url coalition_page %}
{% is_coalition_page back as is_coalition_page %}
<c-layout.base variant="funnel" back="{{ back }}">
    <div class="flex flex-col min-h-[80dvh] md:min-w-[560px] w-full items-center justify-center gap-y-8">
        <c-components.card class="md:px-32 py-8">
            <c-patterns.form url="{% url "login_request" %}">
                <c-components.title title="Se connecter" variant="h1" class="text-center justify-center" />
                <c-components.form_fields.input
                    field=form.email
                    autocomplete="email"
                    description="exemple : hedy.lamarr@techpourtoutes.io"
                />
                <input type="hidden" name="next" value="{{ next }}">
                <input type="hidden" name="back" value="{{ back }}">
                <div class="flex justify-center">
                    <c-components.button type="submit" label="Continuer" class="justify-center" />
                </div>
            </c-patterns.form>
        </c-components.card>
        <div class="flex w-full flex-col items-center justify-center gap-y-2 md:flex-row md:flex-wrap md:gap-x-5 md:gap-y-3">
            <p class="text-sm text-center w-full">
                Pas encore de compte ?
            </p>
                <c-components.button href="{% home_url %}" label="Je veux bénéficier du programme" variant="quaternary" class="w-full text-center md:w-auto" />
                <c-components.button href="{% url "coalition_home" %}" label="Je veux soutenir le programme" variant="quaternary" class="w-full text-center md:w-auto" />
        </div>
        <p class="text-xs text-center">
            En continuant, {% if is_coalition_page %}vous reconnaissez{% else %}tu reconnais{% endif %} avoir compris et accepté les
            <c-components.inline-link label="Conditions d'utilisation" href="{% url 'conditions_generales' %}" />
            et la
            <c-components.inline-link label="politique de gestion des données personnelles" href="{% url 'donnees_personnelles' %}" />
            de TechPourToutes.
        </p>
    </div>
</c-layout.base>
