{% load home_url coalition_page %}
{% is_coalition_page back as is_coalition_page %}
<c-layout.base variant="funnel" back="{{ back }}">
    <div class="flex flex-col min-h-[80dvh] w-full items-center justify-center gap-y-4 pt-12 md:min-w-[560px] md:gap-y-8 md:pt-4">
        <c-components.card class="py-4 md:py-8">
            <c-components.title title="Se connecter" variant="h1" class="text-center justify-center mb-2 md:mb-4" />
            <c-components.title title="{% if is_coalition_page %}Consultez votre{% else %}Consulte ta{% endif %} boîte mail" variant="h2-black" />
            <p class="mt-2 md:mt-3">
                Un lien pour {% if is_coalition_page %}vous{% else %}te{% endif %} connecter automatiquement à {% if is_coalition_page %}votre{% else %}ton{% endif %} compte vient de {% if is_coalition_page %}vous être{% else %}t'être{% endif %} envoyé à l'adresse :
            </p>
            <p class="mt-2 mb-4 md:mt-3 md:mb-8 text-center font-medium break-all underline">{{ email }}</p>

            <c-components.title title="Aucun mail reçu ?" variant="intertitre" class="mt-3 md:mt-5" />
            <c-components.list>
                {% if is_coalition_page %}Vérifiez votre{% else %}Vérifie ton{% endif %} dossier "courrier indésirable" (spam)
                Sinon, {% if is_coalition_page %}demandez{% else %}demande{% endif %} l'envoi d'un nouveau mail
            </c-components.list>

            <c-patterns.form url="{% url 'login_request' %}" class="mt-2">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="back" value="{{ back }}">
                <c-components.button type="submit" label="Demander l'envoi d'un nouveau mail" variant="quaternary" class="text-left w-fit" />
            </c-patterns.form>

            <c-components.title title="L'adresse mail saisie est erronée ?" variant="intertitre" class="mt-3 mb-2 md:mt-5 md:mb-3" />
            <c-components.button href="{% url 'login_request' %}?back={{ back|urlencode }}" label="Modifier mon adresse mail" variant="quaternary" class="block w-fit" />
        </c-components.card>
        <div class="flex w-full flex-col items-center justify-center gap-y-2 md:flex-row md:flex-wrap md:gap-x-5">
            <p class="text-sm text-center w-full">
                Pas encore de compte ?
            </p>
            {% url "coalition_home" as coalition_home %}
            {% home_url as home_url %}
            {% if home_url != coalition_home %}
                <c-components.button href="{{ home_url }}" label="Je veux bénéficier du programme" variant="quaternary" class="w-full text-center md:w-auto" />
            {% endif %}
            <c-components.button href="{{ coalition_home }}" label="Je veux soutenir le programme" variant="quaternary" class="w-full text-center md:w-auto" />
        </div>
        <p class="text-xs text-center">
            En continuant, {% if is_coalition_page %}vous reconnaissez{% else %}tu reconnais{% endif %} avoir compris et accepté les
            <c-components.inline-link label="Conditions d'utilisation" href="{% url 'conditions_generales' %}" />
            et la
            <c-components.inline-link label="politique de gestion des données personnelles" href="{% url 'donnees_personnelles' %}" />
            de TechPourToutes.
        </p>
    </div>
</c-layout.base>
