<div id="funnel-step" class="w-full flex flex-col gap-y-6 my-auto">
    {% include "beneficiary/partials/inscription/progress.html" %}
    <c-layout.partials.messages wrapper_class="w-full flex flex-col gap-y-2" />
    <c-components.card nobg=True>
        <c-patterns.form
            hx-post="{% url 'inscription_funnel' %}"
            hx-target="#funnel-step"
            hx-swap="outerHTML">
            <input type="hidden" name="step" value="mentoring_signup">
            <c-components.title title="Rejoins le club, {{ first_name }}" variant="h2-black" />
            {% if is_minor %}
                <p>Comme tu es mineure, pour valider ton inscription au programme de mentorat, nous avons besoin d'une autorisation de tes parents ou d'une personne responsable légalement.</p>
            {% else %}
                <p>Pour valider ton inscription au programme de mentorat, nous avons besoin de ton numéro de téléphone.</p>
            {% endif %}
            <p class="text-xs text-neutral-500">Tous les champs sont obligatoires</p>
            {% if is_minor %}
                <c-components.form_fields.input field=form.legal_representative_name autocomplete="name" description="exemple : Hedy Lamarr" />
                <c-components.form_fields.input field=form.legal_representative_email autocomplete="email" />
            {% endif %}
            <c-components.form_fields.input field=form.phone />
            <div class="flex justify-center">
                <c-components.button type="submit" label="Rejoindre le club" />
            </div>
        </c-patterns.form>
    </c-components.card>
</div>
