<div id="funnel-step" class="w-full flex flex-col gap-y-6 my-auto">
    <c-components.card nobg=True>
        <div class="flex flex-col gap-4">
            <p>TechPourToutes est un programme à destination des filles ayant entre 15 et 25 ans inclus.</p>
            <p>Tu es encore un peu jeune, un peu de patience ! Tu pourras rejoindre le club dès tes 15 ans.</p>
            <div class="flex justify-center mt-2">
                <c-components.button href="{% url 'home' %}" label="J'ai compris" />
            </div>
        </div>
    </c-components.card>
</div>
