<div id="funnel-step" class="w-full flex flex-col">
    {% include "beneficiary/partials/inscription/progress.html" %}
    <c-components.card nobg=True>
        <c-patterns.form
            hx-post="{% url 'inscription_funnel' %}"
            hx-target="#funnel-step"
            hx-swap="outerHTML">
            <input type="hidden" name="action" value="training_experience">
            <c-components.title title="Rejoins le club, {{ first_name }}" variant="h1-black" />
            <p class="text-xs text-neutral-500">Tous les champs sont obligatoires</p>
            {% if study_status == "high_school" %}
                <c-components.form_fields.select field=form.level />
                <c-components.form_fields.school_search
                    name_field=form.school_label
                    id_field=form.school_id
                    not_found_field=form.school_not_found
                    scope="secondary"
                    description="Recherche par nom et/ou code postal"
                    group="{{ form.dom_id }}"
                    unique_id="{{ form.dom_id }}" />
                <c-components.form_fields.formation_search
                    name_field=form.formation_label
                    id_field=form.formation_id
                    not_found_field=form.formation_not_found
                    school_id_field=form.school_id
                    scope="secondary"
                    description="Recherche par nom"
                    group="{{ form.dom_id }}"
                    unique_id="{{ form.dom_id }}" />
            {% elif study_status == "higher_education" %}
                <c-components.form_fields.select field=form.level />
                <c-components.form_fields.school_search
                    name_field=form.school_label
                    id_field=form.school_id
                    not_found_field=form.school_not_found
                    scope="higher_ed"
                    description="Recherche par nom"
                    group="{{ form.dom_id }}"
                    unique_id="{{ form.dom_id }}" />
                <c-components.form_fields.formation_search
                    name_field=form.formation_label
                    id_field=form.formation_id
                    not_found_field=form.formation_not_found
                    school_id_field=form.school_id
                    scope="higher_ed"
                    description="Recherche par nom"
                    group="{{ form.dom_id }}"
                    unique_id="{{ form.dom_id }}" />
            {% else %}
                <c-components.form_fields.select field=form.period_label />
                <div x-data="{ level: '{{ form.level.value|default:'' }}' }"
                     @select-change="level = $event.detail.value"
                     class="flex flex-col gap-y-4">
                    <c-components.form_fields.select field=form.level :watchable=True />
                    <template x-if="level != '' && !level.startsWith('bac_')">
                        <div class="flex flex-col gap-y-4">
                            <c-components.form_fields.school_search
                                name_field=form.school_label
                                id_field=form.school_id
                                not_found_field=form.school_not_found
                                scope="secondary"
                                description="Recherche par nom et/ou code postal"
                                group="{{ form.dom_id }}"
                                unique_id="{{ form.dom_id }}" />
                            <c-components.form_fields.formation_search
                                name_field=form.formation_label
                                id_field=form.formation_id
                                not_found_field=form.formation_not_found
                                school_id_field=form.school_id
                                scope="secondary"
                                description="Recherche par nom"
                                group="{{ form.dom_id }}"
                                unique_id="{{ form.dom_id }}" />
                        </div>
                    </template>
                    <template x-if="level.startsWith('bac_')">
                        <div class="flex flex-col gap-y-4">
                            <c-components.form_fields.school_search
                                name_field=form.school_label
                                id_field=form.school_id
                                not_found_field=form.school_not_found
                                scope="higher_ed"
                                description="Recherche par nom"
                                group="{{ form.dom_id }}"
                                unique_id="{{ form.dom_id }}-sup" />
                            <c-components.form_fields.formation_search
                                name_field=form.formation_label
                                id_field=form.formation_id
                                not_found_field=form.formation_not_found
                                school_id_field=form.school_id
                                scope="higher_ed"
                                description="Recherche par nom"
                                group="{{ form.dom_id }}"
                                unique_id="{{ form.dom_id }}-sup" />
                        </div>
                    </template>
                </div>
            {% endif %}
            <div class="flex justify-center">
                <c-components.button type="submit" label="{% if wants_mentor %}Continuer{% else %}Rejoindre le club{% endif %}" />
            </div>
        </c-patterns.form>
    </c-components.card>
</div>
