<c-layout.base>
    <c-components.title icon-name="mentorer-bold" title="Mentorer" />
    <div class="flex gap-x-4">
        <c-components.badge label="2 heures / mois" />
        <c-components.badge label="6 mois" />
    </div>

    <c-components.card title="Aidez une jeune à construire son projet professionnel">
        Rejoignez la communauté TechPourToutes de mentors pour avoir un impact concret sur l'avenir de vos mentorées.

        Au cours de ces 6 mois de mentorat, vous apprendez à vous connaître et vous aurez l'occasion de les aider à affiner leur projet d'étude ou de carrière, à gagner en confiance et à accéder à de nouvelles opportunités.
    </c-components.card>

    <c-components.card variant="custom" title="Les 4 étapes clés du mentorat en ligne" nobg=True>
        <ul class="steps steps-vertical">
        <li class="step step-secondary">JobIrl prend contact avec vous et vous forme</li>
        <li class="step step-secondary">Vous êtes mise en relation avec une mentorée</li>
        <li class="step step-secondary">Vous échangez sur son projet ses attentes</li>
        <li class="step step-secondary">Vous faites le bilan des progrès</li>
        </ul>
    </c-components.card>

    <c-components.card title="On vous accompagne à toutes les étapes">
        Sur la plateforme TechPourToutes, vous retrouverez de nombreuses informations sur les formations, les stages, des événements, etc.

        Les équipes de JobIrl, membre du consortium TechPourToutes vous apportent tout le soutien dont vous avez besoin au fur et à mesure de vos échanges.
    </c-components.card>

    <c-slot name="right">
        <div class="min-w-[428px] flex flex-col items-center mt-[65px]">
            <c-components.title title="Rejoins la coalition, prends ta carte de membre !" class="text-center w-[300px] h-16" variant="h3" />
            <c-components.card-shadow id="mentor-member-card" class="mt-5">
                <div class="flex">
                    <c-components.icon name="badge-coeur" class="w-15 h-15 shrink-0 mx-5" />
                    <div class="mt-5 [&>p]:pb-3 [&>p]:font-medium">
                        <p>Prénom</p>
                        <p>Nom</p>
                        <p>Mentor TechPourToutes</p>
                    </div>
                </div>
                <c-components.button href="" label="Je deviens mentor" class="justify-center" />
            </c-components.card-shadow>
            <c-components.card-shadow id="mentor-form-card" class="mt-5 p-5 relative">
                <c-components.icon name="badge-coeur" class="w-15 h-15 shrink-0 mx-5 absolute -top-5 -right-10" />

                <c-patterns.form>
                    <c-components.title title="Engagement mentor" variant="h3" />
                    <c-components.input label="Votre prénom*" />
                    <c-components.input label="Votre nom*" />
                    <c-components.input label="Votre email*" />
                    <c-components.input label="Votre n° de téléphone*" />
                    <c-components.input label="Votre situation professionelle*" />
                    <c-components.input label="Nom de votre structure" description="Nom de votre structure actuelle ou de la dernière" />
                    <c-components.input label="Votre métier*" />
                    <c-components.input label="Votre code postal*" />
                    <c-components.button href="" label="Je deviens mentor" class="justify-center" />
                </c-patterns.form>
            </c-components.card-shadow>
        </div>
    </c-slot>
</c-layout.base>
