{% load phone_filters %}
<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour,</p>
  <p style="font-size:15px;color:#374151;">
    {{ pro.civility }} <strong>{{ pro.first_name }} {{ pro.last_name }}</strong>, de la structure <strong>{{ pro.structure_name }}</strong> souhaite <strong>{{ engagement }}</strong>.
  </p>
  <br>
  <p style="font-size:15px;color:#374151;">
    Peux-tu {% if pro.civility == "Madame" %}la{% else %}le{% endif %} recontacter ?
  </p>
  <p style="font-size:15px;color:#374151;">
    - <strong>{{ pro.email }}</strong>
  </p>
  {% if pro.phone %}
    <p style="font-size:15px;color:#374151;">
      - <strong>{{ pro.phone|phone_national }}</strong>
    </p>
  {% endif %}
</c-layout.email>
