<c-vars title="" class="" open=False  />

<div x-data={% if open %}"{ open: true }"{% else %}"{ open: false }"{% endif %} class="w-full {{ class }}">
    <button @click="open = !open" type="button"
            :class="open ? 'rounded-t-2xl border-b-0 shadow-right shadow-orange-500' : 'rounded-2xl shadow-bottom-and-right shadow-orange-500'"
            class="relative z-10 flex items-center max-w-[90%] text-lg text-left gap-2 px-4 py-3 w-fit cursor-pointer border border-orange-500 focus:outline-primary-500 focus:outline-offset-3 bg-neutral-0">
        {{ title|safe }}
        <span class="w-4 h-4 block transition-transform duration-200 min-w-4" :class="{ 'rotate-180': open }">
            <c-components.icon name="chevron-down" class="w-full h-full text-black" />
        </span>
    </button>
    <div x-show="open" x-transition
         class="-mt-px w-full px-4 pb-4 border border-orange-500 rounded-tr-2xl rounded-b-2xl shadow-bottom-and-right shadow-orange-500 bg-neutral-0">
        {{ slot }}
    </div>
</div>
