<c-vars
    label=""
    href=""
    disabled=False
    type="button"
    base_class="inline-block px-6 py-3 rounded-sm text-sm font-medium leading-[1.4] focus-visible:outline-none focus-visible:border"
    primary_class="bg-primary-700 text-neutral-0 shadow-bottom-and-right shadow-black focus-visible:border-neutral-0 hover:bg-primary-500 active:bg-primary-500 cursor-pointer"
    primary_danger_class="bg-error-700 text-neutral-0 shadow-bottom-and-right shadow-black focus-visible:border-neutral-0 hover:bg-error-500 active:bg-error-500 cursor-pointer"
    secondary_class="bg-neutral-0 text-primary-700 shadow-bottom-and-right shadow-primary-700 border border-primary-700 focus-visible:border-neutral-0 hover:border-primary-500 hover:shadow-primary-500 hover:text-primary-500 active:bg-primary-700 active:text-neutral-0 active:border-neutral-0 cursor-pointer"
    tertiary_class="text-neutral-950 hover:bg-primary-50 active:bg-primary-100 focus:outline-primary-500 focus:outline-offset-2 cursor-pointer"
    tertiary_sm_class="text-[11px]"
    tertiary_lg_class="text-sm font-medium p-3 rounded-sm"
    quaternary_class="inline-block text-primary-700 font-medium rounded-sm -mx-2 -my-1 px-2 py-1 hover:bg-primary-50 active:bg-primary-100 focus:outline-primary-500 focus:outline-offset-2 cursor-pointer"
    danger_class="text-error-700 hover:bg-error-50 active:bg-error-100 active:text-error-900 focus:outline-error-500 focus:outline-offset-2 cursor-pointer"
    icon_only_class="hover:bg-primary-50 active:bg-primary-100 focus:outline-primary-500 focus:outline-offset-2 cursor-pointer"
    disabled_primary_class="bg-neutral-300 text-black cursor-not-allowed select-none shadow-black"
    disabled_secondary_class="bg-neutral-500 text-neutral-0 cursor-not-allowed select-none shadow-black"
    disabled_tertiary_class="text-neutral-500 cursor-not-allowed"
    disabled_quaternary_class="text-primary-700 cursor-not-allowed"
    disabled_icon_only_class="text-neutral-500 bg-neutral-200 cursor-not-allowed"
    icon_class="gap-x-2"
    icon_size_class="w-5 h-5"
    size=""
    class=""
    variant=""
    icon=""
/>

    {% if href and not disabled %}
        <a href="{{ href }}"
           class="
            {% if variant == "secondary" %}
                {{ base_class }} {{ secondary_class }}
            {% elif variant == "tertiary" %}
                {{ tertiary_class }}
                {% if size == "sm" %}
                    {{ tertiary_sm_class }}
                {% else %}
                    {{ tertiary_lg_class }}
                {% endif %}
            {% elif variant == "quaternary" %}
                {{ quaternary_class }}
            {% elif variant == "icon" %}
                {{ icon_only_class }}
            {% elif variant == "danger" %}
                {{ base_class }} {{ danger_class }}
            {% elif variant == "primary_danger" %}
                {{ base_class }} {{ primary_danger_class }}
            {% else %}
                {{ base_class }} {{ primary_class }}
            {% endif %}
            {{ class }}"
            {{ attrs }}
        >
            <div class="flex
                {% if icon %}{{ icon_class }}{% endif %}
                {% if "primary" in variant or variant == "secondary" or variant == "quaternary" %}
                    justify-center
                {% endif %}
            ">
                {% if slot %}{{ slot|safe }}{% else %}{{ label|safe }}{% endif %}
                {% if icon %}<c-components.icon name="{{ icon }}" class="{{ icon_size_class }}" />{% endif %}
            </div>
        </a>
    {% else %}
        <button type="{{ type }}"
                {% if disabled %}disabled{% endif %}
                class="
                {% if disabled %}
                    {% if variant == "secondary" %}
                        {{ base_class }} {{ disabled_secondary_class }}
                    {% elif variant == "tertiary" or variant == "danger" %}
                        {{ disabled_tertiary_class }}
                        {% if size == "sm" %}
                            {{ tertiary_sm_class }}
                        {% else %}
                            {{ tertiary_lg_class }}
                        {% endif %}
                    {% elif variant == "quaternary" %}
                        {{ disabled_quaternary_class }}
                    {% elif variant == "icon" %}
                        {{ disabled_icon_only_class }}
                    {% else %}
                        {{ base_class }} {{ disabled_primary_class }}
                    {% endif %}
                {% else %}
                    {% if variant == "secondary" %}
                        {{ base_class }} {{ secondary_class }}
                    {% elif variant == "tertiary" %}
                        {{ tertiary_class }}
                        {% if size == "sm" %}
                            {{ tertiary_sm_class }}
                        {% else %}
                            {{ tertiary_lg_class }}
                        {% endif %}
                    {% elif variant == "quaternary" %}
                        {{ quaternary_class }}
                    {% elif variant == "icon" %}
                        {{ icon_only_class }}
                    {% elif variant == "danger" %}
                        {{ base_class }} {{ danger_class }}
                    {% elif variant == "primary_danger" %}
                        {{ base_class }} {{ primary_danger_class }}
                    {% else %}
                        {{ base_class }} {{ primary_class }}
                    {% endif %}
                {% endif %}
                {{ class }}"
                {{ attrs }}
        >
            <div class="flex
                {% if icon %}{{ icon_class }}{% endif %}
                {% if "primary" in variant or variant == "secondary" or variant == "quaternary" %}
                    justify-center
                {% endif %}
            ">
                {% if slot %}{{ slot|safe }}{% else %}{{ label|safe }}{% endif %}
                {% if icon %}<c-components.icon name="{{ icon }}" class="{{ icon_size_class }}" />{% endif %}
            </div>
        </button>
    {% endif %}
