<c-vars
    id=""
    variant=""
    class=""
    href=""
/>

{% if href %}
<a href="{{ href }}" id="{{ id }}" class="rounded-2xl shadow-bottom-and-right border border-primary-700 p-5 {% if variant == "blue" %}bg-primary-100{% else %}bg-neutral-0{% endif %} {{ class }}">
    {{ slot }}
</a>
{% else %}
<div id="{{ id }}" class="rounded-2xl shadow-bottom-and-right border border-primary-700 p-5 {% if variant == "blue" %}bg-primary-100{% else %}bg-neutral-0{% endif %} {{ class }}">
    {{ slot }}
</div>
{% endif %}
