<c-vars
    label=""
    href=""
    base_class="underline decoration-1 underline-offset-4"
    enabled_class="hover:decoration-2 active:bg-neutral-200 active:decoration-2 focus:outline-primary-500 focus:outline-offset-2"
    icon=""
    icon_class="inline-flex underline hover:decoration-2 gap-x-1"
    class=""
    variant=""
/>

{% load static %}

<a
    {% if href and variant != "disabled" %}
        href="{{ href }}"
    {% else %}
        aria-disabled="true"
    {% endif %}
    class="
        {{ base_class }}
        {{ class }}
        {% if variant == 'disabled' %}
            text-neutral-500 cursor-not-allowed
        {% else %}
            {{ enabled_class }}
        {% endif %}
    "
    {{ attrs }}
>
    <span class="{% if icon %}{{ icon_class }}{% endif %}">
        {{ label }}

        {% if icon %}
            <c-components.icon
                name="{{ icon }}"
                class="w-5 h-5"
            />
        {% endif %}
    </span>
</a>