<c-vars closable=False />

<dialog
    tabindex="-1"
    class="focus:outline-none open:flex fixed inset-0 z-50 w-full h-full max-w-none max-h-none items-center justify-center bg-black/40"
    {% if title %}aria-labelledby="modal-title"{% endif %}
    hx-on::load="if (!this.open) { this.showModal(); this.focus() }"
    x-init="if (!$el.open) { $el.showModal(); $el.focus() }"
    hx-on:close="this.remove()"
    {% if closable %}hx-on:click="if (event.target === this) this.close()"{% endif %}>
    <div class="w-full max-w-xl bg-white p-8 mx-2 shadow-lg border border-black">
        {% if closable %}
            <div class="flex justify-end mb-4">
                <c-components.button
                    variant="icon"
                    icon="close"
                    class="p-1 rounded-sm text-black"
                    aria-label="Fermer"
                    hx-on:click="this.closest('dialog').close()"
                />
            </div>
        {% endif %}

        {% if title %}
            <h2 id="modal-title" class="text-3xl text-black text-center font-serif font-bold italic">
                {{ title }}
            </h2>
        {% endif %}

        {{ slot }}
    </div>
</dialog>
