<c-vars href="#" icon="" label="" disabled="" class="" active="" icon_class="w-5 h-5" />

<li>
    {% if disabled %}
        <span class="flex items-center gap-2 px-3 py-2 rounded-md text-xs font-medium text-disabled opacity-60 cursor-not-allowed select-none">
            {% if icon %}<c-components.icon name="{{ icon }}" class="{{ icon_class }}" />{% endif %}
            <span>{{ label }}</span>
        </span>
    {% else %}
        <a href="{{ href }}"
           class="group flex items-center gap-2 px-2 py-2 text-neutral-900 transition-colors hover:ring-2 hover:ring-inset hover:ring-yellow-500 hover:rounded-xl focus-visible:outline-none focus-visible:bg-neutral-0 focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500{% if request.path == href or active %} font-serif font-bold italic bg-yellow-500 rounded-3xl text-sm{% else %} font-medium rounded-md text-[13px]{% endif %} {{ class }}">
            {% if icon %}
                <c-components.icon
                    name="{{ icon }}"
                    class="{{ icon_class }}"
                />
            {% endif %}
            <span class="transition-transform group-hover:font-serif group-hover:italic group-hover:font-medium group-hover:scale-110{% if not icon %} ml-2{% endif %}">{{ label }}</span>
        </a>
    {% endif %}
</li>
