<c-layout.base>
    <div class="flex flex-col min-h-[80dvh] md:min-w-[560px] w-full items-center justify-center gap-y-8">
        <c-components.title title="Bienvenue dans la coalition" />

        <p class="text-center">
            Merci beaucoup pour votre engagement&nbsp;!
            <br>
            <br>
            Nous prendrons contact avec vous sous 48 heures pour vous accompagner dans le programme.
        </p>

        <c-components.card-shadow variant="blue" class="mb-3">
            <div class="flex gap-2">
                <div>
                    <c-components.icon name="quote-start" class="w-8 h-8" />
                </div>
                <div>
                    Rejoindre TechPourToutes, c'est reconnaître que le problème de la mixité dans la tech nous concerne. Ce choix a un sens précis&nbsp;: ce que chacun fait, ou ne fait pas, compte.
                    <br><br>
                    Aux jeunes femmes, nous voulons dire&nbsp;: vous avez votre place partout, nous avons besoin de vous. Aux organisations, nous voulons dire&nbsp;: rejoignez le collectif TechPourToutes.
                </div>
            </div>

            <div class="flex justify-end mt-3">
                <c-components.button href="{% url "notre_manifeste" %}" label="Découvrir notre manifeste" variant="quaternaly" />
            </div>
        </c-components.card-shadow >

        <c-components.button href="/" label="Découvrir les autres engagements" />
    </div>
</c-layout.base>
