<c-layout.base title="TechPourToutes – la coalition pour une tech inclusive" description="TechPourToutes est un programme national pour attirer et soutenir les femmes dans la tech. Rejoignez la coalition en devenant mentor, ambassadrice ou mécène.">
    <c-components.title title="La mixité, là où la tech se fait" />
    <p class="text-lg">
        Entièrement gratuit, le programme TechPourToutes vise à soutenir les filles et les jeunes femmes dans leur parcours dans le numérique. C'est un programme national porté par un consortium réunissant recherche, enseignement supérieur, associations et entreprises du numérique.
    </p>

    <c-components.card-shadow variant="blue" class="mb-3">
        <div class="flex gap-2">
            <div>
                <c-components.icon name="quote-start" class="w-8 h-8" />
            </div>
            <div>
                Aujourd'hui, les femmes ne représentent qu'environ 17 à 19&nbsp;% des étudiantes dans les filières techniques du numérique1 et 17&nbsp;% des professionnelles. Dans les années 1980, elles représentaient plus de 40&nbsp;% des ingénieures en informatique dans les grandes écoles françaises. Ce n'est pas un retard à combler, mais un recul à inverser.
            </div>
        </div>

        <div class="flex justify-end mt-3">
            <c-components.button href="{% url "notre_manifeste" %}" label="Découvrir notre manifeste" variant="quaternaly" />
        </div>
    </c-components.card-shadow >

    <c-components.title title="Comment contribuer&nbsp;?" variant="h2-thin" />
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 w-full">
        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103 hover:text-primary-500" href="{% url "mentor_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="mentorer-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Mentorer une lycéenne ou une étudiante
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103" href="{% url "internships_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="accueillir-une-stagiaire-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Accueillir une stagiaire dans mon entreprise
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103" href="{% url "work_ambassador_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="pitcher-mon-metier-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Pitcher mon métier
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103" href="{% url "training_ambassador_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="devenir-ambassadrice-etudiante-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Devenir ambassadrice étudiante
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103" href="{% url "sponsor_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="devenir-mecene-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Devenir mécène
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38 text-primary-700 hover:border-primary-500 hover:shadow-primary-500 hover:scale-103" href="{% url "workshops_landing" %}">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="organiser-un-atelier-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center font-medium">
                Organiser un atelier
            </p>
        </c-components.card-shadow>
    </div>

</c-layout.base>
