<c-layout.base>
    <c-components.title title="La mixité, là où la tech se fait" />
    <p class="text-xl my-3">
        Entièrement gratuit, le programme TechPourToutes vise à soutenir les filles et les jeunes femmes dans leur parcours dans le numérique, en leur donnant les moyens d'atteindre le job de leurs rêves.
    </p>

    <c-components.title title="Comment contribuer&nbsp;?" variant="h2-thin" />
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 w-full">
        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38" href="/mentorer">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="mentorer-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Mentorer une lycéenne ou une étudiante
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38" href="/accueillir-une-stagiaire">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="accueillir-une-stagiaire-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Accueillir une stagiaire dans mon entreprise
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38" href="/pitcher-mon-metier">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="pitcher-mon-metier-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Pitcher mon métier
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="pitcher-ma-formation-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Pitcher ma formation
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38" href="/devenir-mecene">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="devenir-mecene-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Devenir mécène
            </p>
        </c-components.card-shadow>

        <c-components.card-shadow class="flex flex-col gap-3 justify-between h-42 md:h-38" href="/organiser-un-atelier">
            <div class="flex flex-1 justify-center">
                <c-components.icon name="organiser-un-atelier-bold" class="w-15 h-15" />
            </div>
            <p class="text-sm text-center text-primary-700 font-medium">
                Organiser un atelier
            </p>
        </c-components.card-shadow>
    </div>

</c-layout.base>
