<c-layout.base>
    <c-components.title icon-name="mentorer-bold" title="Mentorer" />
    <div class="flex gap-x-4">
        <c-components.badge label="2 heures / mois" />
        <c-components.badge label="6 mois" />
    </div>

    <c-components.card title="Aidez une jeune à construire son projet professionnel">
        <c-components.text>
            Rejoignez la communauté TechPourToutes de mentors pour avoir un impact concret sur l'avenir de vos mentorées.

            Au cours de ces 6 mois de mentorat, vous apprendez à vous connaître et vous aurez l'occasion de les aider à affiner leur projet d'étude ou de carrière, à gagner en confiance et à accéder à de nouvelles opportunités.
        </c-components.text>
    </c-components.card>

    <div class="flex justify-center w-full md:hidden">
        <c-components.button href="#mentor-card" label="Je deviens mentor" />
    </div>

    <c-components.card title="Les 4 étapes clés du mentorat en ligne" nobg=True>
        <ul class="steps steps-vertical">
            <li class="step step-secondary text-left">JobIrl prend contact avec vous et vous forme</li>
            <li class="step step-secondary text-left">Vous êtes mise en relation avec une mentorée</li>
            <li class="step step-secondary text-left">Vous échangez sur son projet ses attentes</li>
            <li class="step step-secondary text-left">Vous faites le bilan des progrès</li>
        </ul>
    </c-components.card>

    <c-components.card title="On vous accompagne à toutes les étapes">
        <c-components.text>
            Sur la plateforme TechPourToutes, vous retrouverez de nombreuses informations sur les formations, les stages, des événements, etc.

            Les équipes de JobIrl, membre du consortium TechPourToutes vous apportent tout le soutien dont vous avez besoin au fur et à mesure de vos échanges.
        </c-components.text>
    </c-components.card>

    <c-components.accordion title="Mentor ou mentore ?" variant="green">
        <c-components.text>
            Et bien, le terme mentor provient d'un personnage de la mythologie grecque. Mentor est le précepteur de Télémaque et l'ami d'Ulysse qui est chargé de prendre soin de sa maison à la suite de son départ. C'est ainsi que le terme mentor désigne désormais un conseiller expérimenté, attentif et sage auquel on fait confiance.

            Ainsi, pour nous, mentor est au féminin comme au masculin : un mentor, une mentor&nbsp;!
        </c-components.text>
    </c-components.accordion>

    <c-components.accordion title="Cette action est menée par">
        <c-components.text>
            JobIrl, spécialiste du mentorat depuis 2013 et association loi 1901 reconnue d'intérêt général à caractère socila et éducatif, et conventionnée par le Ministère de l'Education Nationale, de la Jeunesse et des Sports.

        </c-components.text>
        <c-components.button href="#" label="Découvrir tous les membres du consortium TechPourToutes" variant="quaternaly" />
    </c-components.accordion>

    <c-slot name="right">
        <div class="flex flex-col items-center px-4 md:mt-[65px]">
            <c-components.title title="Rejoignez la coalition !" class="justify-center w-[300px] h-16" variant="h3" />
            <div x-data="{ showForm: {{ form.is_bound|yesno:'true,false' }}, situation: '{{ form.professional_situation.value|default:'' }}' }"
                 @select-change="situation = $event.detail.value"
                 id="mentor-card">
                <div x-show="!showForm" @click.prevent="showForm = true; $nextTick(() => { if (window.innerWidth < 768) $refs.formCard.scrollIntoView({ behavior: 'smooth', block: 'start' }) })" class="cursor-pointer">
                <c-components.card-shadow id="mentor-member-card" class="my-5">
                    <div class="flex">
                        <c-components.icon name="badge-coeur" class="w-15 h-15 shrink-0 mx-5" />
                        <div class="mt-5 [&>p]:pb-3 [&>p]:font-medium">
                            <p>Prénom</p>
                            <p>Nom</p>
                            <p>Mentor TechPourToutes</p>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <c-components.button href="" label="Je deviens mentor" />
                    </div>
                </c-components.card-shadow>
            </div>
            <div x-ref="formCard" x-show="showForm" x-cloak
                 x-transition:enter="transition ease-out duration-300 origin-top"
                 x-transition:enter-start="scale-y-20"
                 x-transition:enter-end="scale-y-100"
            />
                <c-components.card-shadow id="mentor-form-card" class="my-5 p-5 relative">
                    <c-components.icon name="badge-coeur" class="w-15 h-15 shrink-0 mx-5 absolute -top-5 -right-10" />
                    <c-patterns.form url="{% url 'mentor_landing' %}">
                        <c-components.title title="Engagement mentor" variant="h3" />
                        <p class="description-text-xxs">Les champs suivis d'un astérisque (*) sont obligatoires.</p>
                        <c-components.form_fields.radio field=form.civility />
                        <c-components.form_fields.input field=form.first_name autocomplete="given-name" />
                        <c-components.form_fields.input field=form.last_name autocomplete="family-name" />
                        <c-components.form_fields.input field=form.email autocomplete="email" />
                        <c-components.form_fields.input field=form.phone autocomplete="tel" />
                        <c-components.form_fields.input field=form.postal_code autocomplete="postal-code" />
                        <c-components.form_fields.select field=form.professional_situation :watchable=True />
                        <div x-show="situation != ''" x-cloak>
                            <c-components.form_fields.input field=form.job_title alpine_label="situation === 'student' ? 'Votre filière*' : 'Votre métier*'" autocomplete="organization-title" />
                        </div>
                        <div x-show="['working', 'student'].includes(situation)" x-cloak>
                            <c-components.form_fields.input field=form.structure_name alpine_label="situation === 'student' ? 'Nom de votre établissement*' : 'Nom de votre structure*'" description="Votre structure actuelle ou la dernière" autocomplete="organization" />
                        </div>
                        <c-components.form_fields.checkbox field=form.terms_accepted />
                        <c-components.button type="submit" label="Je deviens mentor" class="justify-center" />
                    </c-patterns.form>
                </c-components.card-shadow>
            </div>
            </div>
        </div>
    </c-slot>
</c-layout.base>
