<c-layout.base title="Devenir mentor – TechPourToutes" description="Accompagnez une lycéenne ou étudiante dans son orientation vers les métiers du numérique et donnez de votre temps en rejoignant la communauté TechPourToutes de mentors.">
    <c-components.title icon-name="mentorer-bold" title="Mentorer" />
    <div class="flex flex-wrap gap-2 md:gap-4">
        <c-components.badge label="2 heures / mois" />
        <c-components.badge label="6 mois" />
    </div>

    <c-components.card title="Aidez une jeune à construire son projet professionnel">
        <c-components.text>
            Rejoignez la communauté TechPourToutes de mentors pour avoir un impact concret sur l'avenir de vos mentorées.

            Au cours de ces 6 mois de mentorat, vous apprendrez à vous connaître et vous aurez l'occasion de les aider à affiner leur projet d'étude ou de carrière, à gagner en confiance et à accéder à de nouvelles opportunités.
        </c-components.text>
    </c-components.card>

    <div class="flex justify-center w-full md:hidden">
        <c-components.button href="#mentor-card" label="Je deviens mentor" />
    </div>

    <c-components.card title="Les 4 étapes clés du mentorat en ligne" nobg=True>
        <ul class="steps steps-vertical">
            <li class="step step-secondary text-left">JobIRL prend contact avec vous et vous donne tous les éléments pour réussir votre relation de mentorat</li>
            <li class="step step-secondary text-left">Vous êtes mise en relation avec une mentorée</li>
            <li class="step step-secondary text-left">Vous échangez sur son projet et ses attentes</li>
            <li class="step step-secondary text-left">Vous faites le bilan des progrès</li>
        </ul>
    </c-components.card>

    <c-components.card title="On vous accompagne à toutes les étapes">
        <c-components.text>
            Sur la plateforme TechPourToutes, vous retrouverez de nombreuses informations sur les formations, les stages, des événements, etc.

            Les équipes de JobIRL, membre du consortium TechPourToutes, vous apportent tout le soutien dont vous avez besoin au fur et à mesure de vos échanges.
        </c-components.text>
    </c-components.card>

    <c-components.accordion title="Mentor ou mentore&nbsp;?" variant="green">
        <c-components.text>
            Eh bien, le terme mentor provient d'un personnage de la mythologie grecque. Mentor est le précepteur de Télémaque et l'ami d'Ulysse qui est chargé de prendre soin de sa maison à la suite de son départ. C'est ainsi que le terme mentor désigne désormais un conseiller expérimenté, attentif et sage auquel on fait confiance. Mentor est au féminin comme au masculin&nbsp;: un mentor, une mentor&nbsp;!
        </c-components.text>
    </c-components.accordion>

    <c-components.accordion title="Cette action est menée par">
        <c-components.text>
            JobIRL, spécialiste du mentorat depuis 2013 et association loi 1901 reconnue d'intérêt général à caractère social et éducatif, et conventionnée par le ministère de l'Éducation nationale.

        </c-components.text>
        <c-components.button href="{% url "qui_sommes_nous" %}" label="Découvrir tous les membres du consortium TechPourToutes" variant="quaternaly" />
    </c-components.accordion>

    <c-slot name="right">
        <div class="flex flex-col items-center px-4 md:mt-[65px] md:self-start"
             x-data="{ showForm: {{ form.is_bound|yesno:'true,false' }}, situation: '{{ form.professional_situation.value|default:'' }}' }"
             @select-change="situation = $event.detail.value"
             :class="{ 'md:sticky md:top-14 xl:top-8': !showForm }">
            <c-components.title title="Rejoignez la coalition&nbsp;!" class="justify-center w-[300px] h-16" variant="h3" />

            <div id="mentor-card">

                <div x-show="!showForm" {% if not pro or "mentor" not in pro.engagements %}@click.prevent="showForm = true; $nextTick(() => { $refs.formCard.scrollIntoView({ behavior: 'smooth', block: 'start' }) })" class="cursor-pointer"{% endif %}>
                    <c-components.card-shadow id="mentor-member-card" class="w-[320px] my-5">
                        <div class="flex gap-5">
                            <c-components.icon name="badge-coeur" class="shrink-0 w-15 h-15" />
                            <div>
                                {% if pro %}
                                    <p class="font-medium pb-3">{{ pro.first_name }}</p>
                                    <p class="font-medium pb-3">{{ pro.last_name }}</p>
                                {% else %}
                                    <p class="font-light pb-3">Prénom</p>
                                    <p class="font-light pb-3">Nom</p>
                                {% endif %}
                                <p class="font-medium">Mentor TechPourToutes</p>
                            </div>
                        </div>
                        <div class="flex justify-center mt-3">
                            {% if not pro or "mentor" not in pro.engagements %}
                                    <c-components.button href="" label="Je deviens mentor" />
                            {% else %}
                                <c-components.button href="{% url "login_to_jobirl" %}" label="Mon espace mentorat" icon="external-link" target="_blank" />
                            {% endif %}
                        </div>
                    </c-components.card-shadow>
                </div>

                <div x-ref="formCard" x-show="showForm" x-cloak
                    x-transition:enter="transition ease-out duration-300 origin-top"
                    x-transition:enter-start="scale-y-20"
                    x-transition:enter-end="scale-y-100"
                />
                    <c-components.card-shadow id="mentor-form-card" class="w-[320px] my-5 p-5 relative">
                        <c-components.icon name="badge-coeur" class="shrink-0 w-15 h-15 absolute -top-5 -right-5" />
                        <c-patterns.form url="{% url 'mentor_landing' %}">
                            <c-components.title title="Engagement mentor" variant="h3" />
                            <p class="description-text-xxs">Les champs suivis d'un astérisque (*) sont obligatoires.</p>
                            <c-components.form_fields.radio field=form.civility />
                            <c-components.form_fields.input field=form.first_name autocomplete="given-name" />
                            <c-components.form_fields.input field=form.last_name autocomplete="family-name" />
                            <c-components.form_fields.input field=form.email autocomplete="email" variant="{% if pro %}disabled{% endif %}" />
                            <c-components.form_fields.input field=form.phone autocomplete="tel" />
                            <c-components.form_fields.input field=form.postal_code autocomplete="postal-code" />
                            <c-components.form_fields.select field=form.professional_situation :watchable=True />
                            <div x-show="situation != ''" x-cloak>
                                <c-components.form_fields.input field=form.job_title autocomplete="organization-title" />
                            </div>
                            <div x-show="situation == 'working'" x-cloak>
                                <c-components.form_fields.input field=form.structure_name autocomplete="organization" />
                            </div>
                            {% if not pro %}
                                <c-components.form_fields.checkbox field=form.terms_accepted />
                                <c-components.form_fields.checkbox field=form.manifeste_accepted />
                            {% endif %}
                            <div class="flex justify-center">
                                <c-components.button type="submit" label="Je deviens mentor" class="justify-center" />
                            </div>
                        </c-patterns.form>
                    </c-components.card-shadow>
                </div>

            </div>

        </div>
    </c-slot>
</c-layout.base>
