<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour {{ mentor.first_name }},</p>
  <p style="font-size:15px;color:#374151;">
    Bienvenue dans la <strong>Coallition Tech Pour Toutes</strong>&nbsp;!
  </p>
  <p style="font-size:15px;color:#374151;">
    Votre inscription en tant que mentor·e a bien été enregistrée.
    Nous sommes ravis de vous compter parmi nous.
  </p>
  <p style="font-size:15px;color:#374151;">
    Vous allez très prochainement recevoir des informations pour démarrer votre aventure de mentorat.
  </p>
</c-layout.email>
