<c-layout.base>
    <c-components.title title="Accessibilité" />

    <c-components.card title="Conformité au RGGA 4.1">
        <c-components.title variant="intertitre" title="État de conformité" />

        <c-components.text>
            La Fondation Inria s'engage à rendre accessible son site web conformément à l'article 47 de la loi n°2005–102 du 11 février 2005.

            À cette fin, la Fondation Inria met en œuvre la stratégie décrite au sein de son <u><a href="{% url "schema_pluriannuel" %}">Schéma pluriannuel de mise en accessibilité 2026 - 2028</a></u>

            Cette déclaration d'accessibilité s'applique au site <a href="{{ site_url }}">techpourtoutes.io</a>

            À l'heure actuelle, le site <a href="{{ site_url }}">techpourtoutes.io</a> n'a pas encore été audité car il est toujours en cours de construction. Il est de facto considéré comme non conforme.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Retour d’information et contact">
        <c-components.text>
            Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de l’application pour être orientée vers une alternative accessible ou obtenir le contenu sous une autre forme : <a href="mailto:accessibilite@techpourtoutes.io">accessibilite@techpourtoutes.io</a>
        </c-components.text>
    </c-components.card>

    <c-components.card title="Voie de recours">
        <c-components.text>
            Cette procédure est à utiliser dans le cas suivant&nbsp;: Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.

            Écrire un message au <u><a href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a></u>

            Contacter le délégué du <u><a href="https://www.defenseurdesdroits.fr/saisir/delegues">Défenseur des droits dans votre région</a></u>

            Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :
            Défenseur des droits
            Libre réponse 71120
            75342 Paris CEDEX 07
        </c-components.text>
    </c-components.card>
</c-layout.base>
