{% load beneficiary_training_experience %}
<c-components.card title="Formation">
    <div id="beneficiary-training-experiences" class="divide-y divide-neutral-200">
        {% for experience in user.training_experiences.all|as_training_experience_slots %}
            {% include "account/partials/beneficiary_training_experience_item.html" %}
        {% endfor %}
    </div>
    <div class="flex mt-3 justify-start">
        <c-components.button label="Ajouter une année" variant="quaternary" icon-position="start" icon="plus-light"
            hx-get="{% url 'beneficiary_training_experience_add' %}"
            hx-target="#beneficiary-training-experiences"
            hx-swap="beforeend" />
    </div>
</c-components.card>
