{% if oob_swap %}<div hx-swap-oob="{{ oob_swap }}">{% endif %}
<div id="beneficiary-training-experience-{{ experience.pk|default:"current-year" }}"
    class="w-full mt-4 pb-4 relative">
    {% if experience %}
        <c-components.text class="font-light pr-8">
            <span class="font-medium">{{ experience.period_label_display }}</span>

            Établissement : <span class="font-medium">{{ experience.school.display_label }}</span>

            Niveau : <span class="font-medium">{{ experience.get_level_display }}</span>

            Formation : <span class="font-medium">{{ experience.formation.name|default:experience.course }}</span>
        </c-components.text>
    {% else %}
        <c-components.text class="font-light pr-8"><span class="font-medium">Année scolaire en cours</span>

            Je ne suis pas inscrite dans une formation.</c-components.text>
    {% endif %}
    <c-components.button type="button" variant="icon"
        icon="edit"
        icon_size_class="w-6 h-6"
        class="absolute top-0 right-0 p-1 text-primary-700 rounded-sm"
        aria-label="Modifier"
        hx-get="{% if experience %}{% url 'beneficiary_training_experience_edit' experience.pk %}{% else %}{% url 'beneficiary_training_experience_add' %}?current_year=true{% endif %}"
        hx-target="closest [id^='beneficiary-training-experience-']"
        hx-swap="outerHTML" />
</div>
{% if oob_swap %}</div>{% endif %}
