{% if user.jobirl_user_id %}
    <c-components.card-link color="yellow" title="Mentorat" button="Rejoindre mon espace mentorat" href="{% url "login_to_jobirl" %}" target="_blank">
        Retrouve les échanges avec ta mentore et des conseils directement dans l'espace dédié.
    </c-components.card-link>
{% elif user.legal_representative_email %}
    <c-components.card-link color="yellow" title="Mentorat" button="Rejoindre mon espace mentorat" :disabled="True">
        Nous avons bien reçu ta demande. Nous sommes en attente de l'autorisation de la personne responsable légale.
    </c-components.card-link>
{% else %}
    <c-components.card-link color="yellow" title="Mentorat" button="S'inscrire au mentorat" href="{% url "mentoring_funnel" %}">
        TechPourToutes propose un programme de mentorat de 6 mois, 100% gratuit et digital.
    </c-components.card-link>
{% endif %}
<c-components.card-link color="blue" title="Événements"
                        button="Mes événements"
                        href="{% url "index_beneficiary_events" %}">
    {% if user.saved_events.approved.upcoming.exists %}
        {% with upcoming_event_count=user.saved_events.approved.upcoming.count %}
            Tu as {{ upcoming_event_count }} événement{% if upcoming_event_count > 1 %}s{% endif %} enregistré{% if upcoming_event_count > 1 %}s{% endif %} en cours ou à venir.
        {% endwith %}
    {% else %}
        Retrouve tes événements enregistrés et découvre d'autres événements susceptibles de t'intéresser.
    {% endif %}
</c-components.card-link>
