{% if user.jobirl_user_id %}
    <c-components.card-link color="yellow" title="Mentorat" button="Rejoindre mon espace mentorat" href="{% url "login_to_jobirl" %}" target="_blank" class="max-w-sm">
        Retrouve les échanges avec ta mentore et des conseils directement dans l'espace dédié.
    </c-components.card-link>
{% elif user.legal_representative_email %}
    <c-components.card-link color="yellow" title="Mentorat" button="Rejoindre mon espace mentorat" class="max-w-sm" :disabled="True">
        Nous avons bien reçu ta demande. Nous sommes en attente de l'autorisation de la personne responsable légale.
    </c-components.card-link>
{% else %}
    <c-components.card-link color="yellow" title="Mentorat" button="S'inscrire au mentorat" href="{% url "add_mentoring" %}" class="max-w-sm">
        TechPourToutes propose un programme de mentorat de 6 mois, 100% gratuit et digital.
    </c-components.card-link>
{% endif %}
