<div id="beneficiary-training-experience-{{ experience.pk|default:"current-year" }}" class="w-full mt-4 pb-4">
    {% if experience %}
        <c-components.text class="font-light">
            <span class="font-medium">{{ experience.period_label_display }}</span>

            Établissement : <span class="font-medium">{% if experience.school %}{{ experience.school.name }} ({{ experience.school.postal_code }}){% else %}{{ experience.higher_ed_school.display_label }}{% endif %}</span>

            Niveau : <span class="font-medium">{{ experience.get_level_display }}</span>

            Filière : <span class="font-medium">{{ experience.course }}</span>
        </c-components.text>
    {% else %}
        <c-components.text class="font-light"><span class="font-medium">Année scolaire en cours</span>

            Je ne suis pas inscrite dans une formation.</c-components.text>
    {% endif %}
    <div class="flex mt-3 justify-end">
        <c-components.button label="Modifier" variant="secondary"
            hx-get="{% if experience %}{% url 'beneficiary_training_experience_edit' experience.pk %}{% else %}{% url 'beneficiary_training_experience_add' %}?current_year=true{% endif %}"
            hx-target="#beneficiary-training-experience-{{ experience.pk|default:"current-year" }}"
            hx-swap="outerHTML" />
    </div>
</div>
