<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
    <div class="w-full max-w-2xl rounded-lg bg-white p-8 mx-2 shadow-lg border border-primary-700 text-center">
        <h2 class="text-3xl text-primary-700">
            Voulez-vous vraiment supprimer votre compte ?
        </h2>
        <br>
        <p>Cette action est irréversible. Pour confirmer, veuillez cocher la case.</p>
        <br>
        <div class="flex justify-center">
            <c-patterns.form
                url="{% url 'delete_account' %}"
                hx-post="{% url 'delete_account' %}"
                hx-target="#modal-container"
                hx-swap="innerHTML"
                class="max-w-lg"
                >
                <c-components.form_fields.checkbox
                    field=form.confirm_delete
                    full_width=True
                    label_class="text-sm"
                />
                    <div class="flex flex-col items-center gap-4">
                        <c-components.button
                            label="Supprimer définitivement mon compte"
                            variant="primary"
                            type="submit"
                            class="bg-error-700! mt-2"
                        />
                        <c-components.button
                            label="Annuler"
                            type="button"
                            variant="tertiary"
                            size="lg"
                            hx-on:click="document.getElementById('modal-container').innerHTML = ''"
                        />
                    </div>
            </c-patterns.form>
        </div>
    </div>
</div>
