<c-components.modal title="Voulez-vous vraiment supprimer votre compte ?">
    <br>
    <p class="text-center">
        Cette action est irréversible. Pour confirmer, veuillez cocher la case.
    </p>
    <br>
    <div class="flex justify-center">
        <c-patterns.form
            url="{% url 'delete_account' %}"
            hx-post="{% url 'delete_account' %}"
            hx-target="#modal-container"
            hx-swap="innerHTML"
            class="max-w-lg"
        >
            <c-components.form_fields.checkbox
                field=form.confirm_delete
                full_width=True
                label_class="text-sm"
            />
            <div class="flex flex-col items-center gap-4">
                <c-components.button
                    label="Supprimer définitivement mon compte"
                    variant="primary_danger"
                    type="submit"
                    class="mt-2"
                />
                <c-components.button
                    label="Annuler"
                    type="button"
                    variant="tertiary"
                    size="lg"
                    hx-on:click="document.getElementById('modal-container').innerHTML = ''"
                />
            </div>
        </c-patterns.form>
    </div>
</c-components.modal>