<c-components.card title="Formation">
    <div id="beneficiary-training-experiences" class="divide-y divide-neutral-200 mt-4">
        {% for experience in training_experience_slots %}
            {% include "account/partials/show_beneficiary_training_experience.html" %}
        {% endfor %}
    </div>
    <div class="flex mt-3 justify-start">
        <c-components.button label="Ajouter une année" variant="tertiary" icon-position="start" icon="plus-light"
            hx-get="{% url 'new_beneficiary_training_experience' %}"
            hx-target="#beneficiary-training-experiences"
            hx-swap="beforeend" />
    </div>
</c-components.card>
