<c-layout.base title="Déclaration d'accessibilité – TechPourToutes">
    <c-components.title title="Accessibilité" />

    <c-components.card title="Conformité au RGGA 4.1">
        <c-components.title variant="intertitre" class="mt-5" title="État de conformité" />
        <br>
            La Fondation Inria s'engage à rendre accessible son site web conformément à l'article 47 de la loi n°2005–102 du 11 février 2005.
        <br><br>
            À cette fin, la Fondation Inria met en œuvre la stratégie décrite au sein de son <c-components.inline-link label="Schéma pluriannuel de mise en accessibilité 2026 - 2028" href="{% url "schema_pluriannuel" %}"/>
        <br><br>
            Cette déclaration d'accessibilité s'applique au site <c-components.inline-link label="techpourtoutes.io" href="{{ site_url}}"/>
        <br><br>
            À l'heure actuelle, le site <c-components.inline-link label="techpourtoutes.io" href="{{ site_url}}"/> n'a pas encore été audité car il est toujours en cours de construction. Il est de facto considéré comme non conforme.
    </c-components.card>

    <c-components.card title="Retour d’information et contact">
        <br>
            Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de l’application pour être orientée vers une alternative accessible ou obtenir le contenu sous une autre forme : <c-components.inline-link label="accessibilite@techpourtoutes.io" href="mailto:accessibilite@techpourtoutes.io"/>
    </c-components.card>

    <c-components.card title="Voie de recours">
        <br>
            Cette procédure est à utiliser dans le cas suivant&nbsp;: Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.
            <br><br>
            Écrire un message au <c-components.inline-link label="Défenseur des droits" href="https://formulaire.defenseurdesdroits.fr/" icon="external-link" target="_blank"/>
            <br><br>
            Contacter le délégué du <c-components.inline-link label="Défenseur des droits dans votre région" href="https://www.defenseurdesdroits.fr/saisir/delegues" icon="external-link" target="_blank"/>
            <br><br>
            Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :
            <br>
            Défenseur des droits
            <br>
            Libre réponse 71120
            <br>
            75342 Paris CEDEX 07
    </c-components.card>
</c-layout.base>
