<c-layout.base title="Conditions générales d'utilisation – TechPourToutes Coalition">
    <c-components.title title="Conditions générales d'utilisation - Coalition" />

    <p>Version en date du 27 avril 2026</p>

    <c-components.card title="Introduction">
            <br>
            <strong>1.</strong> Toute utilisation de notre site internet <c-components.inline-link label="coalition.techpourtoutes.io" href="{{ site_url }}" /> (le «&nbsp;Site Coalition&nbsp;»), y compris l’ensemble des services, ressources, médias et données disponibles ou accessibles via le Site (chacun désigne un «&nbsp;Service&nbsp;», et collectivement les «&nbsp;Services&nbsp;», et ensemble les Services et le Site, la «&nbsp;Plateforme&nbsp;»), est régie par les présentes Conditions Générales d’Utilisation (les «&nbsp;CGU&nbsp;»).
            <br><br>
            <strong>2.</strong> Les présentes CGU régissent l’accès et l’utilisation du Site et des Services par : (a) toute personne physique ou morale qui accède, consulte ou utilise de quelque manière que ce soit le Site ou les Services («&nbsp;Utilisatrice&nbsp;» ou "Utilisateur"), et/ou (b) les personnes physiques qui créent un compte et utilisent la Plateforme dans le but de rejoindre la coalition et de s'engager auprès de TechPourToutes (les «&nbsp;Bénévoles&nbsp;»). Lorsque les présentes CGU font référence à «&nbsp;vous&nbsp;», cette référence s’applique à l’ensemble des Utilisatrices, Utilisateurs et Bénévoles, selon le cas.
            <br><br>
            <strong>3.</strong> La Plateforme est détenue et exploitée par la Fondation Inria («&nbsp;nous&nbsp;» ou «&nbsp;notre&nbsp;»), Fondation partenariale d’Inria, dont le siège social est situé au Domaine de Voluceau Rocquencourt ; BP 105 ; 78153 LE CHESNAY Cedex. La société est représentée par Bruno Sportisse, Président de la Fondation Inria.En acceptant les présentes CGU, vous concluez un contrat avec la Fondation Inria.
            <br><br>
            <strong>4.</strong> En créant un Compte (tel que défini ci-après), ou en visitant, accédant, consultant ou utilisant la Plateforme de quelque manière que ce soit, vous acceptez de vous conformer aux présentes CGU. Si vous n’acceptez pas les présentes CGU, vous devez immédiatement cesser d’utiliser la Plateforme et/ou vous abstenir de créer un Compte.
            <br><br>
            <strong>5.</strong> Vous pouvez nous contacter à tout moment en nous écrivant à l’adresse de notre siège social mentionnée ci-dessus ou par mail à <c-components.inline-link label="bonjour@techpourtoutes.io" href="mailto:bonjour@techpourtoutes.io" />. Nous mettrons tout en œuvre pour répondre à vos préoccupations. Si vous considérez que vos questions ou préoccupations n’ont pas été traitées de façon complète, nous vous invitons à nous en informer afin qu’une investigation approfondie puisse être menée.
            <br><br>
            <strong>6.</strong> Si vous avez déjà conclu un contrat avec la Fondation Inria pour vous bénéficier des services du programme TechPourToutes, des conditions générales distinctes s’appliquent à l’utilisation de notre Plateforme. Ces conditions sont disponibles dans les Conditions générales d'utilisation - Programme.
    </c-components.card>
    <c-components.card title="PARTIE A - QUI SOMMES-NOUS / OBLIGATIONS">
        <c-components.title title="7. Que faisons-nous ?" variant="intertitre" class="mt-5" />
        <c-components.text>
            Nous mettons à disposition une plateforme en ligne permettant aux Bénévoles d'accéder à tes informations et à s'engager auprès de TechPourToutes pour participer à la féminisation des filières techniques du numérique. Pour cela, nous mettons en relation les Bénévoles avec des Bénéficiaires, définies comme toute lycéenne ou étudiante entre 15 et 25 ans souhaitant s'identifier et être mise en relation avec des Bénévoles (ci-après les «&nbsp;Bénéficiaires&nbsp;»).

            Nous proposons également des ressources et d'autres services aux Bénéficiaires.
        </c-components.text>

        <c-components.title title="8. Modifications des présentes Conditions Générales d’Utilisation" variant="intertitre" class="mt-5" />
        <c-components.text>
            Chaque fois que vous souhaitez utiliser notre Plateforme, nous vous invitons à consulter les présentes CGU afin de vous assurer que vous êtes informés des conditions applicables à ce moment là. Vous pouvez consulter la version en vigueur des CGU à tout moment sur cette page.

            Nous nous réservons le droit de modifier les CGU à tout moment, à notre seule discrétion. Lorsque des modifications sont apportées, la Fondation Inria mettra une nouvelle version des CGU à disposition sur le Site. Nous mettrons également à jour la date de «&nbsp;Dernière mise à jour&nbsp;» figurant en tête des CGU. Si nous apportons des modifications substantielles, et que vous disposez d'un Compte (tel que défini à l’article 11 ci-après), nous vous enverrons également un e-mail à la dernière adresse électronique que vous nous avez communiquée dans le cadre des présentes CGU.

            Toute modification des CGU prendra effet immédiatement pour les nouveaux utilisatrices ou utilisateurs du Site et/ou des Services, et prendra effet trente (30) jours après la publication d’un avis de modification sur le Site pour les titulaires de Compte existants, étant précisé que toute modification substantielle prendra effet pour les titulaires d’un Compte auprès de nous à l’expiration du délai le plus court entre leur acceptation formelle des CGU, trente (30) jours suivant la publication d’un avis de modification sur le Site ou trente (30) jours suivant l’envoi d’un avis de modification par e-mail aux dites personnes.

            La Fondation Inria pourra vous demander d’exprimer votre consentement aux CGU mises à jour selon les modalités précisées avant que vous puissiez continuer à utiliser le Site et/ou les Services. Si vous n’acceptez pas les modifications après en avoir été notifié ou notifiée, vous devez cesser d’utiliser le Site et/ou les Services. À défaut, votre utilisation du Site après l’expiration du délai de notification vaudra acceptation continue des CGU, telles que modifiées de temps à autre. Chaque fois que vous souhaitez utiliser notre Site, nous vous invitons à consulter les présentes CGU afin de vous assurer que vous comprenez les conditions applicables à ce moment-là. Vous pouvez consulter la version en vigueur des CGU à tout moment sur cette page.
        </c-components.text>

        <c-components.title title="9. Modifications du Site ou des Services" variant="intertitre" class="mt-5" />
        <c-components.text>
            Nous sommes susceptibles de mettre à jour et de modifier notre Site et/ou nos Services. Nous ne garantissons pas que notre Site, nos Services ou tout Contenu qui y figure seront toujours disponibles de manière ininterrompue ou sans erreur, et nous nous réservons le droit de retirer, suspendre ou modifier les Services ou fonctionnalités que nous proposons sur le Site, sans préavis et pour quelque raison que ce soit. Nous nous efforcerons de vous informer dans un délai raisonnable de toute modification substantielle, suspension ou retrait des produits, Services ou fonctionnalités.
        </c-components.text>

        <c-components.title title="10. Vos obligations" variant="intertitre" class="mt-5" />
        <c-components.text>
            Vous êtes responsable de la configuration de vos systèmes informatiques pour accéder à nos Services et à notre Site. Nous vous recommandons d’utiliser votre propre logiciel de protection contre les virus.

            Vous acceptez de vous conformer à l’ensemble des lois, règles et réglementations qui vous sont applicables dans le cadre de l’utilisation du Site et de nos Services.

            En conséquence, lors de l’utilisation du Site et de nos Services, il vous est interdit de :
        </c-components.text>

        <c-components.list>
            Concéder sous licence, vendre, louer, céder à bail, transférer, céder, reproduire, distribuer, héberger ou exploiter commercialement de toute autre manière la Plateforme ou toute partie de celle-ci, y compris le Site ;

            Sauf disposition expresse contraire aux présentes, copier, reproduire, distribuer, republier, télécharger, afficher ou publier sous quelque forme ou par quelque moyen que ce soit toute partie de la Plateforme ;

            Utiliser abusivement le Site ou les Services en introduisant sciemment des virus, chevaux de Troie, vers, bombes logiques ou tout autre élément malveillant ou technologiquement nuisible ;

            Tenter d’accéder sans autorisation aux Services, au Site, au serveur sur lequel le Site ou les Services sont hébergés, ou à tout serveur, ordinateur ou base de données connecté au Site ou aux Services ;

            Attaquer notre Plateforme par le biais d’une attaque par déni de service (DoS) ou d’une attaque par déni de service distribué (DDoS) ;

            Développer, soutenir ou utiliser tout logiciel, dispositif, script, robot ou tout autre moyen ou procédé (y compris, sans s’y limiter, les robots d’indexation, les extensions et modules de navigateur, ou toute autre technologie) pour procéder à une extraction automatisée de données («&nbsp;scraping&nbsp;») ou copier ou télécharger de toute autre manière notre Site, nos Contenus ou nos Services, y compris les profils d’entreprise ainsi que toutes les autres données disponibles sur le Site (étant précisé que nous accordons aux opérateurs de moteurs de recherche publics une autorisation révocable d’utiliser des robots d’indexation pour copier des éléments du Site dans le seul but et dans la seule mesure nécessaire à la création d’index de recherche accessibles au public, à l’exclusion de tout cache ou archive de ces éléments) ;

            Utiliser des balises méta ou tout autre «&nbsp;texte caché&nbsp;» faisant usage du nom ou des marques de TechPourToutes sauf autorisation spéciale ;

            Supprimer ou détruire tout avis de droit d’auteur ou toute autre mention de propriété figurant sur ou dans la Plateforme ;

            Porter atteinte aux droits de propriété intellectuelle ou autres droits de la Fondation Inria, notamment, sans s’y limiter : (i) en copiant ou en distribuant les Contenus, y compris les photos et vidéos disponibles sur les Services ou le Site; (ii) en copiant ou en distribuant nos articles et autres contenus médias; (iii) en utilisant les termes «&nbsp;Fondation Inria&nbsp;» et/ou «&nbsp;TechPourToutes&nbsp;»;

            Procéder à une ingénierie inverse, décompiler, désassembler, déchiffrer, modifier, traduire, adapter, fusionner, créer des œuvres dérivées de, ou tenter d’obtenir de quelque manière que ce soit le code source de la Plateforme ou de toute technologie connexe, sauf dans la mesure où ces restrictions seraient expressément prohibées par la loi applicable ;

            Utiliser la technique du «&nbsp;framing&nbsp;» (cadrage) ou du «&nbsp;mirroring&nbsp;» (site miroir) pour encadrer toute marque, logo ou autre Contenu de la Plateforme (y compris des images, textes, mises en page ou formulaires) ou, de manière générale, simuler l’apparence ou le fonctionnement des Services ou du Site ; et/ou

            Utiliser le Site et/ou les Services de quelque manière que ce soit qui : (i) cause ou soit susceptible de causer des dommages aux Services ou au Site, ou interfère avec l’utilisation ou la jouissance des Services ou du Site par toute autre personne ; (ii) soit préjudiciable, contraire à la loi, illégale, abusive, harcelante, menaçante, ou autrement répréhensible, ou constitue une violation de toute loi, réglementation ou ordonnance gouvernementale applicable.

            Vous êtes également responsable de vous assurer que toutes les personnes qui accèdent à notre Site ou à nos Services via votre connexion internet ont pris connaissance des présentes CGU (y compris les politiques et conditions annexes) et les respectent.

            En cas de violation des restrictions ou obligations susmentionnées, nous nous réservons le droit de suspendre ou de résilier immédiatement votre droit d’utilisation de la Plateforme.
        </c-components.list>
    </c-components.card>

    <c-components.card title="PARTIE B - CRÉATION DE COMPTE ET DESCRIPTION DE NOS SERVICES">
        <c-components.title title="11. Inscription : Création d’un Compte Bénévole" variant="intertitre" class="mt-5" />
        <c-components.text>
        Vous devrez vous inscrire et créer un compte (le «&nbsp;Compte&nbsp;») afin de proposer vous engager auprès de TechPourToutes. L’accès et l’utilisation de la Plateforme sont gratuits. Vous devez être âgé(e) d’au moins 18 ans pour utiliser notre Plateforme et créer un Compte.

        Nous nous réservons le droit, à notre seule discrétion, d’accepter ou de refuser votre inscription à notre Plateforme.

        Vous êtes responsable de toutes les actions résultant de l’utilisation de votre Compte, que vous en soyez ou non à l’origine. Vous ne devez donc pas autoriser un tiers à utiliser votre Compte à votre place ou en votre nom, et vous devez prendre toutes les mesures appropriées pour garantir la sécurité et la confidentialité de votre identifiant.
        </c-components.text>

        <c-components.title title="12. Services" variant="intertitre" class="mt-5" />
        <c-components.text>
            Le site Coalition a pour objet d'encourager un maximum de Bénévoles à s'engager auprès de TechPourToutes. A ce titre, il présente des actions d'engagement auprès de la coalition TechPourToutes afin d'accompagner aux mieux les lycéennes et étudiantes intéressées par les métiers techniques du numérique. Il a également pour objet de mettre en relation des Bénévoles avec des Bénéficiaires du programme.

            Cette liste est non-exhaustive et peut être enrichie à tout moment sans que la responsabilité de la Fondation Inria ne puisse être engagée à ce titre par qui que ce soit.

            Certains services sont accessibles qu'après connexion au site.
        </c-components.text>

        <c-components.title title="13. Suspension ou Résiliation de votre Compte" variant="intertitre" class="mt-5" />
        <c-components.text>
            Nous nous réservons le droit de suspendre ou de résilier votre Compte et de refuser toute utilisation actuelle ou future de la Plateforme, à tout moment, dans les cas suivants : (i) vous publiez sur la Plateforme (via votre Compte ou via l’une de vos interactions au sein de la Plateforme) des contenus faux, inexacts, obsolètes ou incomplets, ou Welcome to the Jungle a des motifs raisonnables de suspecter que de tels contenus sont faux, inexacts, obsolètes ou incomplets ; (ii) vous enfreignez les présentes CGU (y compris les politiques annexes) ; (iii) vous enfreignez toute loi ou réglementation applicable dans le cadre de vos interactions avec la Plateforme ; ou (iv) votre Compte a été précédemment résilié pour manquement et vous tentez de créer un nouveau Compte.

            Si votre Compte a été résilié en raison d’un manquement aux présentes CGU, il vous est interdit de créer un nouveau Compte sur la Plateforme sous un nom différent, une adresse e-mail différente ou toute autre forme de vérification de compte.        </c-components.text>
    </c-components.card>

    <c-components.card title="PART C - DISPOSITIONS GÉNÉRALES">
        <c-components.title title="14. Propriété Intellectuelle et Utilisation Acceptable" variant="intertitre" class="mt-5" />
        <c-components.text>
            <u>1. Contenus</u>

            Les contenus du site TechPourToutes (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.

            Vous devrez obtenir l’autorisation de la Fondation Inria avant toute reproduction, copie ou publication de ces différents contenus.

            Ces derniers ne pourront dans tous les cas pas être utilisés pour un usage commercial.

            <u>2. Licence d’Utilisation de la Plateforme</u>

            La Plateforme est protégée par les lois sur le droit d’auteur en vigueur dans le monde entier. Sous réserve des présentes CGU, nous vous accordons par les présentes une licence limitée, révocable, non exclusive, non transférable et ne pouvant faire l’objet d’une sous-licence, pour accéder, consulter et utiliser la Plateforme exclusivement à des fins personnelles.
        </c-components.text>

        <c-components.title title="15. Liens Hypertextes" variant="intertitre" class="mt-5" />
        <c-components.text>
            <u>1. Liens vers notre Site</u>

            Il est possible pour un tiers de créer un lien vers une page du site TechPourToutes sans autorisation expresse de l’éditeur.

            Notre Site ne doit pas être intégré par la technique du “framing” (cadrage) sur tout autre site.

            <u>2. Liens vers d’Autres Sites Internet</u>

            Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de TechPourToutes, qui n’a pas de contrôle sur ces liens.
        </c-components.text>

        <c-components.title title="16. Durée et Résiliation" variant="intertitre" class="mt-5" />
        <c-components.text>
            Vous reconnaissez et acceptez par les présentes que l’application des présentes CGU a pris effet à la date la plus ancienne entre (a) la date à laquelle vous avez utilisé la Plateforme pour la première fois et (b) la date à laquelle vous les avez acceptées (telle que décrite ci-dessus), et que les présentes CGU demeureront pleinement en vigueur pendant toute la durée de votre utilisation de la Plateforme, sauf résiliation anticipée conformément aux dispositions des présentes.
        </c-components.text>

        <c-components.title title="17. Confidentialité et Protection des Données" variant="intertitre" class="mt-5" />
        <c-components.text>
            Pour toute information relative à la manière dont nous collectons, stockons et traitons vos données personnelles, veuillez consulter notre Politique de gestion des Données personnelles et cookies.
        </c-components.text>
    </c-components.card>

    <c-components.card title="PARTIE D : DISPOSITIONS DIVERSES">
        <c-components.title title="18. Communications Électroniques" variant="intertitre" class="mt-5" />
        <c-components.text>
            Les communications entre vous et la Plateforme peuvent s’effectuer par voie électronique. À des fins contractuelles, vous (a) consentez à recevoir des communications de la Plateforme sous forme électronique ; et (b) acceptez que l’ensemble des conditions générales, accords, avis, divulgations et autres communications que la Plateforme vous fournit par voie électronique satisfont à toute exigence légale à laquelle ces communications satisferaient si elles étaient établies par écrit.
        </c-components.text>

        <c-components.title title="19. Force Majeure" variant="intertitre" class="mt-5" />
        <c-components.text>
            La Fondation Inria ne saurait être tenue responsable de tout retard ou manquement à l’exécution de ses obligations résultant de causes échappant à son contrôle raisonnable, y compris, sans s’y limiter, les cas de force majeure, les actes de guerre, le terrorisme, les émeutes, les embargos, les actes des autorités civiles ou militaires, les incendies, les inondations, les accidents, les grèves ou les pénuries de moyens de transport, de carburant, d’énergie, de main-d’œuvre ou de matériaux.
        </c-components.text>

        <c-components.title title="20. Cession de contrat" variant="intertitre" class="mt-5" />
        <c-components.text>
            Vous ne pouvez céder, sous-traiter, déléguer ou transférer de toute autre manière vos droits ou obligations au titre des présentes CGU à tout tiers sans notre consentement écrit préalable. Toute tentative de cession, sous-traitance, délégation ou transfert effectuée en violation de ce qui précède sera nulle et non avenue. Nous pouvons transférer nos droits au titre des présentes CGU à tout moment et à notre discrétion.
        </c-components.text>

        <c-components.title title="21. Notifications" variant="intertitre" class="mt-5" />
        <c-components.text>
            Lorsque la Plaforme vous demande de fournir une adresse e-mail, vous êtes responsable de communiquer votre adresse e-mail la plus récente. Dans le cas où la dernière adresse e-mail que vous avez communiquée n’est pas valide ou n’est, pour quelque raison que ce soit, pas en mesure de vous transmettre les avis requis ou autorisés par les présentes CGU, l’envoi par la Fondation de l’e-mail contenant ledit avis constituera néanmoins une notification valable.
        </c-components.text>

        <c-components.title title="22. Intégralité de l’Accord" variant="intertitre" class="mt-5" />
        <c-components.text>
            Les présentes CGU, y compris les politiques et autres documents qui y sont mentionnés, constituent l’intégralité de l’accord entre vous et la Fondation Inria relatif à leur objet et remplacent l’ensemble des discussions, arrangements ou accords antérieurs qui auraient pu avoir lieu à ce sujet.
        </c-components.text>

        <c-components.title title="23. Droit applicable et juridiction compétente" variant="intertitre" class="mt-5" />
        <c-components.text>
            Le présent contrat dépend de la législation française.

            En cas de litige non résolu à l’amiable entre le Bénévole et la Fondation Inria, les tribunaux de Paris sont compétents pour régler le contentieux.
        </c-components.text>
    </c-components.card>
</c-layout.base>
