<c-layout.a_propos title="Contact – TechPourToutes" description="Vous avez des idées ou des questions ? Vous voulez contribuer autrement ? Contactez l'équipe TechPourToutes ou suivez-nous sur nos réseaux sociaux.">
    <c-components.title title="Écrivez-nous" variant="h2" />
        <br>
        Vous avez des idées ? Vous voulez contribuer autrement ? N'hésitez pas à nous écrire :
        <br><br>
        - pour vous engager avec nous : <c-components.inline-link label="agir@techpourtoutes.io" href="mailto:agir@techpourtoutes.io" />
        <br><br>
        -  pour nous aider à promouvoir le programme : <c-components.inline-link label="presse@techpourtoutes.io" href="mailto:presse@techpourtoutes.io" />
        <br><br>
        - pour remonter un problème sur le site : <c-components.inline-link label="perfectible@techpourtoutes.io" href="mailto:perfectible@techpourtoutes.io" />
        <br><br>
    <c-components.title title="Suivez-nous sur les réseaux" variant="h2" class="mb-5" />
        <div class="flex justify-center gap-20">
            <div class="flex flex-col items-center gap-2">
                <a href="https://instagram.com/techpourtoutes" target="_blank">
                    <c-components.icon name="instagram-bold" class="w-15 h-15" />
                </a>
                <c-components.inline-link label="Instagram" href="https://instagram.com/techpourtoutes" icon="external-link" target="_blank"/>
            </div>
            <div class="flex flex-col items-center gap-2">
                <a href="https://www.linkedin.com/showcase/techpourtoutes/" target="_blank">
                    <c-components.icon name="linkedin-bold" class="w-15 h-15" />
                </a>
                <c-components.inline-link label="LinkedIn" href="https://www.linkedin.com/showcase/techpourtoutes/" icon="external-link" target="_blank"/>
            </div>
        </div>
</c-layout.a_propos>
