<c-layout.a_propos title="Contact – TechPourToutes" description="Vous avez des idées ou des questions ? Vous voulez contribuer autrement ? Contactez l'équipe TechPourToutes ou suivez-nous sur nos réseaux sociaux.">
    <c-components.title title="Écrivez-nous" variant="h2" />
    <c-components.text>
        Vous avez des idées ? Vous voulez contribuer autrement ? N'hésitez pas à nous écrire :

        - pour vous engager avec nous : <a href="mailto:agir@techpourtoutes.io" class="link-hover">agir@techpourtoutes.io</a>

        -  pour nous aider à promouvoir le programme : <a href="mailto:presse@techpourtoutes.io" class="link-hover">presse@techpourtoutes.io</a>

        - pour remonter un problème sur le site : <a href="mailto:perfectible@techpourtoutes.io" class="link-hover">perfectible@techpourtoutes.io</a>

    </c-components.text>

    <c-components.title title="Suivez-nous sur les réseaux" variant="h2" class="mb-5" />
    <div class="flex justify-center gap-20">
        <a href="https://www.instagram.com/techpourtoutes/" class="flex flex-col items-center link-hover" target="_blank">
            <c-components.icon name="instagram-bold" class="w-15 h-15" />
            Instagram
        </a>
        <a href="https://www.linkedin.com/showcase/techpourtoutes/" class="flex flex-col items-center link-hover" target="_blank">
            <c-components.icon name="linkedin-bold" class="w-15 h-15" />
            LinkedIn
        </a>
    </div>
</c-layout.a_propos>
