<c-layout.base title="Politique de données personnelles – TechPourToutes">
    <c-components.title title="Politique de gestion des données personnelles et cookies" />

    <p>La Fondation Inria, organisation pilote du programme TechPourToutes est engagée dans une démarche de protection des données personnelles en accord avec le Règlement Général sur la Protection des Données (RGPD).</p>

    <c-components.card title="Propos introductifs">
        <c-components.text>
            Lorsque vous utilisez le site <u><a href="{{ site_url }}">techpourtoutes.io</a></u>, nous sommes amenées à collecter et utiliser vos données personnelles.

            La présente charte explique la manière dont nous utilisons ces données, notamment pour assurer le bon fonctionnement de la Plateforme. Elle détaille également vos droits concernant vos données personnelles.

            Le terme «&nbsp;données personnelles&nbsp;» désigne l'ensemble des informations qui permettent de vous identifier directement ou indirectement.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Objet">
        <c-components.text>
            En tant que responsable du traitement de vos données personnelles, nous nous engageons à respecter la réglementation en vigueur en matière de protection des données, en particulier le Règlement Général sur la Protection des Données (RGPD), qui nous impose de vous informer, et ce de manière transparente.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Qui sommes-nous ?">
        <c-components.text>
            La Fondation Inria, située au 48, rue Barrault à Paris (75013) est le «&nbsp;responsable de traitement&nbsp;» concernant la collecte et l'utilisation de vos données personnelles.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Bases légales">
        <c-components.list>
            Votre consentement et notre mission lorsque vous nous fournissez volontairement des données personnelles lors de votre visite sur notre Plateforme. Ces données sont collectées pour nous permettre de gérer diverses fonctionnalités et services.
            L'exécution du contrat conclu avec nous (correspondant aux Conditions Générales d'Utilisation - Coalition ou Conditions Générales d'Utilisation - Programme)
        </c-components.list>
    </c-components.card>

    <c-components.card title="Finalités de la collecte de vos données personnelles">
        <c-components.title title="Collecte de données personnelles fondée sur le contrat" variant="intertitre" class="mt-5" />

        <c-components.text>
            Permettre la création et la gestion de votre Compte sur la Plateforme.
        </c-components.text>

        <c-components.title title="Collecte de données personnelles fondée sur votre consentement" variant="intertitre" class="mt-5" />

        <c-components.text>Adresser :</c-components.text>

        <c-components.list>
            des newsletters ;
            des enquêtes dans le cadre de l'usage de la Plateforme ;
            pour l'ensemble de ces envois, un lien de désinscription figure toujours à la fin du mail.
        </c-components.list>

        <c-components.title title="Collecte de données à caractère personnel fondée sur notre mission" variant="intertitre" class="mt-5" />
        <c-components.list>
            Répondre à vos demandes d'information/réclamations ;
            Faire des statistiques d'utilisation et de performance des différentes fonctionnalités et services proposés et en assurer l'amélioration ;

            Vos données personnelles ne feront pas l'objet de cessions, locations ou échanges au bénéfice de tiers.
        </c-components.list>
    </c-components.card>

    <c-components.card title="Données personnelles concernées">
        <c-components.list>
            Les données nécessaires à votre inscription, à la gestion de votre Compte sur la Plateforme et à l'utilisation de nos services (données relatives à votre identité, adresse mail, adresse postale, profession, etc.) ;

            Les données contenues dans vos demandes lorsque vous nous contactez via nos adresses mail, les formulaires présents sur la Plateforme ou lorsque vous échangez avec nous sur les réseaux sociaux (y compris les enregistrements vocaux) ;

            Les réponses à nos sondages et questionnaires qui peuvent vous être adressés ;

            Les données de navigation sur la Plateforme ;

            Les données que nous pouvons vous demander si vous formulez une réclamation ;

            Les données techniques relatives notamment à votre adresse IP et des informations sur votre navigateur, à des fins de sécurité et de bon fonctionnement du service.
        </c-components.list>

        <c-components.text>
            Lors de la collecte de vos données personnelles, nous vous informerons si les informations doivent être obligatoirement renseignées ou si elles sont facultatives.

            Les informations obligatoires sont nécessaires au fonctionnement des différentes fonctionnalités. Concernant les données facultatives, vous êtes libre de les communiquer ou non. Nous vous indiquerons également les éventuelles conséquences d'une absence de réponse sur l'utilisation des services proposés.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Destinataires de vos données personnelles">
        <c-components.list>
            Les collaborateurs habilités de la Fondation Inria ;

            Les collaborateurs habilités des membres du consortium ;

            Nos partenaires institutionnels (exemple : le ministère de l'Enseignement Supérieur et de la Recherche) ;

            Les sous-traitants de la Fondation Inria et des membres du consortium.
        </c-components.list>

        <c-components.text>
            Peuvent également être destinataires de vos données personnelles les autorités financières, judiciaires, organismes publics, sur demande pour répondre à nos obligations légales et réglementaires, certaines professions réglementées telles que les avocats, commissaires aux comptes, les auxiliaires de justice et les officiers ministériels.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Durées de conservation de vos données personnelles">
        <c-components.list>
            <strong>Données relatives à la gestion de vos demandes d'aide</strong>&nbsp;: elles ne seront pas conservées au-delà de la durée strictement nécessaire à la gestion de notre relation et seront automatiquement supprimées au plus tard 3 ans sans réponse de votre part à nos sollicitations.

            <strong>Données utilisées lors de l'inscription à une newsletter</strong>&nbsp;: les informations seront conservées jusqu'à votre désinscription via le lien de désabonnement prévu en fin de nos mails ou au plus tard 3 ans sans réponse de votre part à nos sollicitations.

            <strong>Données visant à effectuer des études statistiques d'utilisation de l'application ainsi que des enquêtes</strong>&nbsp;: au maximum 5 ans à compter des résultats ou réponses d'enquêtes.

            <strong>Données de connexion communiquées automatiquement lors de la visite sur notre Plateforme</strong>&nbsp;: conservées 6 mois.

            <strong>Cookies et autres traceurs</strong>&nbsp;: conservées 6 mois.
        </c-components.list>
    </c-components.card>

    <c-components.card title="Transferts de données personnelles en dehors de l'Union Européenne">
        <c-components.text>
            Vos données sont collectées et traitées uniquement sur le territoire de l'Union européenne.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Sécurité">
        <c-components.text>
            Nous mettons en œuvre des mesures appropriées pour préserver la sécurité et la confidentialité de vos données personnelles et, notamment, pour empêcher qu'elles soient déformées, endommagées, ou que des personnes non autorisées y aient accès.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Droits sur vos données personnelles">
        <c-components.text>
            Tout d'abord, vous pouvez modifier certaines de vos informations personnelles directement depuis votre Compte. Vous pouvez également demander la suppression de votre Compte en adressant un mail à <u><a href="mailto:bonjour@techpourtoutes.io">bonjour@techpourtoutes.io</a></u>.

            Aussi, vous pouvez exercer vos droits d'accès, de limitation, de rectification et d'effacement de vos données personnelles. Vous disposez également du droit de donner des directives sur le sort de vos données après votre décès.

            Pour exercer ces droits, vous pouvez envoyer un mail à notre Délégué à la protection des données (DPO) à l'adresse mail <u><a href="mailto:dpo@fondation-inria.fr">dpo@fondation-inria.fr</a></u> ou lui adresser un courrier :

            Fondation Inria
            48, rue Barrault
            75013 Paris

            Une réponse vous sera adressée dans un délai maximum d'un mois suivant la réception de votre demande. Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce cas, vous en serez informé et nous vous en indiquerons les raisons.

            Si vous avez besoin de plus d'informations concernant vos droits, la Commission nationale de l'informatique et des libertés («&nbsp;CNIL&nbsp;») met à votre disposition, sur son site internet, des articles pour vous sensibiliser.

            Si vous considérez que la collecte, l'utilisation de vos données personnelles, ou une demande liée à vos droits n'est pas conforme à la législation sur la protection des données personnelles, vous pouvez adresser une réclamation à la CNIL.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Modification de la présente charte">
        <c-components.text>
            Cette charte peut être modifiée à tout moment. Le cas échéant, ces modifications seront valables à compter de la publication de la nouvelle charte sur <u><a href="{{ site_url }}">techpourtoutes.io</a></u>.
        </c-components.text>
    </c-components.card>
</c-layout.base>
