<c-layout.base>
    <c-components.title title="Mentions légales" />

    <p>Le site <u><a href="{{ site_url }}">techpourtoutes.io</a></u> est édité par la Fondation Inria.</p>

    <c-components.card title="Informations légales">
        <c-components.text>
            Fondation Inria
            Domaine de Voluceau – BP 10578153 Le Chesnay Cedex – France
            Tél : +33 (0)1 80 49 43 24
            Email : <a href="mailto:contact@fondation-inria.fr">contact@fondation-inria.fr</a>
            SIREN : 829 176 098
            TVA : FR 69 82917609

            Directeur de la publication : Bruno Sportisse, président de la Fondation Inria
            Rédacteur en chef : Henri Verdier, directeur général de la Fondation Inria

            La Fondation Inria est une fondation partenariale dont la création a été autorisée par le recteur de l’académie de Versailles le 6 février 2017, ainsi que publiée au bulletin officiel de l’enseignement supérieur et de la recherche en date du 30 mars 2017.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Hébergement">
        <c-components.text>
            Le site <a href="{{ site_url }}">TechPourToutes</a> est hébergé par Scalingo sur des serveurs géographiquement localisés en France.

            Scalingo SAS
            13, rue Jacques Peirot, 67000 Strasbourg 1
            <a href="https://scalingo.com/fr/">https://scalingo.com/fr/</a>
        </c-components.text>
    </c-components.card>

    <c-components.card title="Protection des données à caractère personnel">
        <c-components.text>
            La Fondation Inria est engagée dans une démarche de protection des données à caractère personnel qu’elle traite. Pour plus d’informations, vous pouvez consulter notre politique de gestion des données personnelles ou nous contacter : <a href="mailto:dpo@fondation-inria.fr">dpo@fondation-inria.fr</a>.
        </c-components.text>
    </c-components.card>
    <c-components.card title="Propriété intellectuelle">
        <c-components.text>
            Le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme, est la propriété exclusive de la Fondation Inria à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.

            Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de leur ayant-droit. La représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.
        </c-components.text>
    </c-components.card>
    <c-components.card title="Contenu du site">
        <c-components.text>
            La Fondation Inria s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des informations diffusées au moment de leur mise en ligne sur le site. Cependant, la Fondation Inria ne garantit en aucune façon l’exactitude, la précision ou l’exhaustivité des informations mises à disposition sur le site. Les informations présentes sur le site sont non-contractuelles et peuvent être modifiées à tout moment. Si des informations vous semblent inexactes, n'hésitez pas à nous écrire à <a href="mailto:perfectible@techpourtoutes.io">perfectible@techpourtoutes.io</a>.
        </c-components.text>
    </c-components.card>
    <c-components.card title="Liens hypertextes">
        <c-components.text>
            Le présent site peut offrir des liens vers d’autres sites web ou d’autres ressources disponibles sur Internet. La Fondation Inria ne dispose d’aucun moyen pour contrôler les sites en connexion avec celui-ci.

            La Fondation Inria ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à leurs conditions d’utilisation.
        </c-components.text>
    </c-components.card>
    <c-components.card title="Crédits iconographiques">
        <c-components.text>
            Certaines images ou vidéos présentes sur le site peuvent provenir de la photothèque ou de la vidéothèque d’Inria. Aucune reproduction, totale ou partielle, de ces photos ou vidéos ne peut se faire sans l’autorisation préalable et écrite d’Inria.
        </c-components.text>
    </c-components.card>
</c-layout.base>
