<c-layout.a_propos title="Pourquoi nous écrivons au féminin – TechPourToutes" description="L'inaction n'est pas neutre: elle choisit le camp du statu quo. Le langage aussi est un engagement : découvrez pourquoi TechPourToutes fait le choix d'une écriture au féminin.">
    <c-components.title title="Le langage est un engagement" variant="h2" />
    <c-components.text>
        Nous l'avons dit dans notre manifeste, l'inaction n'est pas neutre : elle choisit le camp du statu quo.

        Il en va de même en matière de communication. Le masculin n'est pas neutre, il véhicule incidemment des représentations et un monde qui serait entièrement composé d'hommes.

        Le programme TechPourToutes vise au contraire à redonner leur place aux femmes dans la tech, place dont elles ont été expulsées. Alors nous avons décidé d'introduire un bug, d'utiliser le féminin comme genre par défaut, dans notre communication. En creux, nous rendons ainsi visible ce qui est normalisé : l'invisibilisation des femmes, en particulier dans la tech. Le langage devient un outil de plus pour contribuer à notre mission, celle de renforcer la place des femmes dans ce secteur.

        En aucun cas, nous ne voulons exclure les hommes du programme TechPourToutes. Il ne s'agit pas non plus de faire vivre aux hommes l'exclusion que la société fait vivre aux femmes. Nous voulons seulement et simplement déplacer ponctuellement le regard et montrer à quel point le langage, que ce soit le français, ou celui qui code un logiciel, définit la règle.

        La coalition TechPourToutes a besoin du soutien de toutes et tous. Les hommes, majoritaires dans la tech d'aujourd'hui, sont des alliés cruciaux pour la féminisation et la diversification de la tech. Ils sont non seulement les bienvenus, mais leur engagement à nos côtés est indispensable !

        Nous parlons au féminin car nous voulons montrer que les femmes sont présentes et légitimes dans le numérique. Et par là, ouvrir plus largement la voie aux futures talentueuses femmes de la tech.

        Si vous vous reconnaissez dans notre manifeste, bienvenues chez TechPourToutes !
    </c-components.text>
</c-layout.a_propos>
