<c-layout.base title="Schéma pluriannuel d'accessibilité – TechPourToutes">
    <c-components.title title="Schéma pluriannuel d'accessibilité 2026-2028" />

    <c-components.card title="Introduction">
        <c-components.text>
            L'article 47 de la loi n° 2005-102 du 11 février 2005 pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes rend obligatoire à tout service de communication publique en ligne d'être accessible à tous.

            La Fondation Inria s'inscrit pleinement dans cette obligation légale et dans une démarche volontaire d'amélioration continue de l'accessibilité de ses services numériques, afin de garantir un accès égal à l'information et aux services pour l'ensemble des utilisateurs, y compris les personnes en situation de handicap.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Définition de l'accessibilité numérique">
        <c-components.text>
            L'accessibilité numérique permet d'accéder aux contenus et services numériques (sites web, documents bureautiques, supports multimédias, intranets, applications mobiles…), quelle que soit la façon de naviguer ou les technologies d'assistance utilisées.

            Elle est indispensable aux personnes en situation de handicap pour&nbsp;:
        </c-components.text>

        <c-components.list>
            s'informer&nbsp;;
            communiquer&nbsp;;
            accomplir des démarches administratives&nbsp;;
            mener une activité professionnelle.
        </c-components.list>

        <c-components.text>
            L'accessibilité numérique bénéficie également à un public beaucoup plus large&nbsp;: personnes âgées, personnes en situation de handicap temporaire ou permanent, personnes peu à l'aise avec le numérique ou utilisant des équipements variés.

            Elle constitue un enjeu politique, social et citoyen majeur, participant à l'égalité des droits et à la non-discrimination.

            L'accessibilité numérique est un domaine transverse qui concerne l'ensemble des acteurs impliqués dans la conception, la réalisation, la maintenance et l'exploitation des dispositifs numériques&nbsp;: décideurs, chefs de projet, designers, développeurs, producteurs de contenus et équipes support.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Politique d'accessibilité">
        <c-components.text>
            L'accessibilité numérique est au cœur des préoccupations liées au développement et à la mise à disposition des sites de la Fondation Inria, tant à destination du public que des collaborateurs internes.

            Cette politique se traduit par l'élaboration et la mise en œuvre du présent schéma pluriannuel d'accessibilité numérique, accompagné de plans annuels d'actions. L'objectif est d'assurer la conformité au RGAA (Référentiel Général d'Amélioration de l'Accessibilité) et d'améliorer durablement la qualité des services numériques proposés.

            L'élaboration, le suivi et la mise à jour de ce schéma sont placés sous la responsabilité de la responsable de la plateforme.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Ressources humaines et financières affectées">
        <c-components.text>
            Le pilotage et le suivi de la conformité au RGAA sont assurés par la responsable de la plateforme qui travaille conjointement avec l'équipe Communication pour l'élaboration de contenus accessibles et avec l'équipe technique pour le développement du site.

            Les ressources nécessaires à la mise en œuvre de la politique d'accessibilité sont intégrées aux budgets de fonctionnement et de développement des projets numériques, avec, le cas échéant, un recours à des expertises externes. En particulier, la Fondation Inria dispose de l'aide d'Inria sur ces questions.
        </c-components.text>
    </c-components.card>

    <c-components.card title="Organisation de la prise en compte de l'accessibilité numérique">
        <c-components.text>
            La prise en compte de l'accessibilité numérique repose sur les principes suivants&nbsp;:
        </c-components.text>

        <c-components.list>
            l'adaptation continue de l'organisation interne de production et de gestion des sites web et applications&nbsp;;
            l'accompagnement des équipes tout au long des projets&nbsp;;
            l'intégration de l'accessibilité dans les procédures de marchés et de partenariats&nbsp;;
            la prise en charge des difficultés rencontrées par les personnes en situation de handicap.
        </c-components.list>

        <c-components.title variant="intertitre" class="mt-5" title="Actions de formation et de sensibilisation" />

        <c-components.text>
            Des actions de formation et de sensibilisation sont organisées tout au long de la période d'application du schéma. Elles visent à permettre aux personnels intervenant sur les sites, applications et supports de communication de concevoir, développer et publier des contenus accessibles.

            Ces actions ont pour objectifs&nbsp;:
        </c-components.text>

        <c-components.list>
            de sensibiliser à l'importance du respect des règles d'accessibilité numérique&nbsp;;
            de former aux bonnes pratiques indispensables en matière de graphisme, d'ergonomie, de développement et de production de contenus.
        </c-components.list>

        <c-components.title variant="intertitre" class="mt-5" title="Recours à des compétences externes" />

        <c-components.text>
            Lorsque cela est nécessaire, la Fondation Inria fait appel à des prestataires spécialisés pour l'accompagner, notamment dans le cadre d'actions de formation, d'audits d'accessibilité, de conseils ou de certifications. Elle est également accompagnée par les experts en accessibilité d'Inria.
        </c-components.text>

        <c-components.title variant="intertitre" class="mt-5" title="Prise en compte de l'accessibilité dans les projets" />

        <c-components.text>
            Les exigences d'accessibilité et de conformité au RGAA sont intégrées dès la phase de cadrage des projets et constituent une exigence de base tout au long de leur cycle de vie. Elles sont également rappelées dans les conventions et partenariats.

            Des composants normés, des modèles accessibles et une documentation dédiée sont mis à disposition des équipes afin de faciliter la prise en compte de l'accessibilité.
        </c-components.text>

        <c-components.title variant="intertitre" class="mt-5" title="Tests utilisateurs" />

        <c-components.text>
            Lorsque des tests utilisateurs sont organisés, le panel comprend, dans toute la mesure du possible, des personnes en situation de handicap. Pour cela, la Fondation Inria dispose de l'aide d'Inria et de la DINUM.
        </c-components.text>

        <c-components.title variant="intertitre" class="mt-5" title="Prise en compte dans les procédures de marchés" />

        <c-components.text>
            L'accessibilité numérique et la conformité au RGAA sont intégrées dans l'évaluation de la qualité des offres lors des appels d'offres et des marchés publics. Les procédures et critères d'évaluation sont adaptés afin de renforcer ces exigences.
        </c-components.text>

        <c-components.title variant="intertitre" class="mt-5" title="Recrutement" />

        <c-components.text>
            Une attention particulière est portée aux compétences en accessibilité numérique lors de la définition des fiches de poste et des procédures de recrutement des personnels intervenant sur les services numériques.
        </c-components.text>

        <c-components.title variant="intertitre" class="mt-5" title="Traitement des retours utilisateurs" />
            <br>
            Un moyen de contact dédié permet aux utilisateurs en situation de handicap de signaler toute difficulté rencontrée&nbsp;: <c-components.inline-link label="accessibilite@techpourtoutes.io" href="mailto:accessibilite@techpourtoutes.io" />
            <br><br>
            Les demandes sont traitées par la responsable de la plateforme afin d'apporter une réponse adaptée et de contribuer à l'amélioration continue des services.

        <c-components.title variant="intertitre" class="mt-5" title="Processus de contrôle et de validation" />
        <br>
        Le site <c-components.inline-link label="techpourtoutes.io" href="https://techpourtoutes.io" /> fait l'objet de contrôles d'accessibilité lors de mises à jour substantielles ou de refontes. Ces contrôles permettent de mettre à jour les déclarations de conformité, en complément des recettes et contrôles intermédiaires réalisés tout au long des projets.
    </c-components.card>

    <c-components.card title="Plans annuels">
        <c-components.title variant="intertitre" class="mt-5" title="2026" />
        <c-components.list>
            Création d'une nouvelle charte graphique respectant les critères d'accessibilité

            Rédaction d'une nouvelle version des mails en respectant les critères d'accessibilité

            Création de ressources graphiques accessibles sur étagère pour le développement du site techpourtoutes.io

            Recrutement et formation de deux développeur.euses

            Refonte progressive du site techpourtoutes.io en suivant les critères du RGAA

            Réalisation d'un audit d'accessibilité interne
        </c-components.list>

        <c-components.title variant="intertitre" class="mt-5" title="2027" />
        <c-components.list>
            Sensibilisation des membres du consortium TechPourToutes aux enjeux de l'accessibilité

            Travail conjoint de mise en accessibilité des contenus de communication publiés par les membres du consortium relatifs au programme TechPourToutes
        </c-components.list>

        <c-components.title variant="intertitre" class="mt-5" title="2028" />
        <c-components.list>
            Réalisation d'un audit externe d'accessibilité suite aux différentes évolutions de la plateforme
        </c-components.list>
    </c-components.card>
</c-layout.base>
