{% load static home_url %}

<c-layout.base title="403 – TechPourToutes" description="Vous n'avez pas les autorisations nécessaires pour accéder à cette page.">
    <div class="relative isolate flex flex-col items-center justify-start gap-4 w-full md:min-h-screen pb-16">
        <img src="{% static 'images/error-page-bg.png' %}"
             alt=""
             class="hidden md:block absolute -top-8 left-1/2 -translate-x-1/2 h-[calc(100%+4rem)] w-full md:w-screen md:max-w-4xl -z-10 object-cover border border-neutral-950" />
        <c-components.title title="Vous n'avez pas l'autorisation" variant="h1" title_bg="yellow" class="w-full md:w-screen md:max-w-4xl text-center" />
        <div class="w-full md:w-screen md:max-w-4xl bg-neutral-0 border border-neutral-950 p-4">
            <p>
                Pendant longtemps, les femmes ont eu bien plus d'erreur 403 que de portes ouvertes dans la Tech. Mais les choses changent&nbsp;!
            </p>
        </div>
        <c-components.button label="Retour à l'accueil" href="{% home_url %}" />
    </div>
</c-layout.base>
