{% load static home_url %}

<c-layout.base title="500 – TechPourToutes" description="Une erreur inattendue s'est produite. Veuillez réessayer dans quelques instants.">
    <div class="relative isolate flex flex-col items-center justify-start gap-4 w-full md:min-h-screen pb-16">
        <img src="{% static 'images/error-page-bg.png' %}"
             alt=""
             class="hidden md:block absolute -top-8 left-1/2 -translate-x-1/2 h-[calc(100%+4rem)] w-full md:w-screen md:max-w-4xl -z-10 object-cover border border-neutral-950" />
        <c-components.title title="Problème serveur" variant="h1" title_bg="yellow" class="w-full md:w-screen md:max-w-4xl text-center" />
        <div class="w-full md:w-screen md:max-w-4xl bg-neutral-0 border border-neutral-950 p-4">
            <p>
                Dans le numérique, faire des erreurs fait partie du processus. L'important, c'est d'apprendre, d'améliorer et de recommencer&nbsp;!
            </p>
        </div>
        <c-components.button label="Retour à l'accueil" href="{% home_url %}" />
    </div>
</c-layout.base>
