<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour {{ event.created_by.first_name }},</p>
  <p style="font-size:15px;color:#374151;">
    Votre événement <strong>{{ event.title }}</strong> va être étudié par notre équipe. Vous recevrez un mail dès sa validation et sa mise en ligne.
  </p>
  <br>
  <p style="font-size:15px;color:#374151;">Pour rappel, voici ce que vous avez renseigné&nbsp;:</p>
  <ul style="font-size:15px;color:#374151;">
    <li>Type&nbsp;: {{ event.category_label }}</li>
    <li>Dates&nbsp;: du {{ event.start_date|date:"d/m/Y" }} à {{ event.start_time|time:"H\hi" }} au {{ event.end_date|date:"d/m/Y" }} à {{ event.end_time|time:"H\hi" }}</li>
    <li>Format&nbsp;: {{ event.get_location_type_display }}</li>
  </ul>
  <br>
  <p style="font-size:15px;color:#374151;">Bonne journée</p>
</c-layout.email>
