<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour {{ event.created_by.first_name }},</p>
  <p style="font-size:15px;color:#374151;">
    Votre événement <strong>{{ event.title }}</strong> a été refusé par nos équipes. Pour toutes questions, n'hésitez pas à répondre à ce mail.
  </p>
  {% if comment %}
  <p style="font-size:15px;color:#374151;">
    Message de l'équipe&nbsp;: {{ comment }}
  </p>
  {% endif %}
  <br>
  <p style="font-size:15px;color:#374151;">Bonne journée,</p>
</c-layout.email>
