<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour Julie,</p>
  <p style="font-size:15px;color:#374151;">
    {{ first_name }} {{ last_name }} a demandé la suppression de son compte sur TechPourToutes. Pouvez-vous supprimer les données de votre côté ou prendre contact avec {% if civility == "Madame" %}elle{% else %}lui{% endif %}&nbsp;?
  </p>
  <p style="font-size:15px;color:#374151;">
    id JobIRL&nbsp;: {{ jobirl_id }}
    <br>
  </p>
  <p style="font-size:15px;color:#374151;">
    Bonne journée
  </p>
</c-layout.email>