{% load static %}

<c-layout.base title="Bientôt disponible – TechPourToutes" description="Cette page n'existe pas encore, elle arrive prochainement sur TechPourToutes.">
    <div class="relative isolate flex flex-col items-center justify-start gap-4 w-full md:min-h-screen pt-8 pb-16">
        <img src="{% static 'images/bientot-disponible-background.jpg' %}"
             alt=""
             class="hidden md:block absolute -top-8 left-1/2 -translate-x-1/2 h-[calc(100%+4rem)] w-full md:w-screen md:max-w-4xl -z-10 object-cover border border-neutral-950" />
        <c-components.title title="Cette page n'existe pas encore" variant="h1" class="w-full md:w-screen md:max-w-4xl text-center" />
        <div class="w-full md:w-screen md:max-w-4xl bg-neutral-0 border border-neutral-950 p-4">
            <p>
                Le programme se construit petit à petit avec vous. Dans quelques semaines, tu retrouveras ici de nombreux évènements auxquels participer pour t'aider à renforcer tes compétences, trouver une alternance, un stage, un premier emploi ou ta future formation.
            </p>
        </div>
        <div class="w-full md:w-screen md:max-w-4xl bg-neutral-0 border border-neutral-950 p-4 flex flex-col gap-4">
            <p>
                Inscris-toi à notre newsletter si tu souhaites être prévenue&nbsp;:
            </p>
            <c-patterns.form url="{% url 'bientot_disponible' %}">
                <c-components.form_fields.input
                    field=form.email
                    autocomplete="email"
                    description="exemple : hedy.lamarr@techpourtoutes.io"
                    class="max-w-xs"
                />
                <div class="flex">
                    <c-components.button type="submit" label="S'inscrire" />
                </div>
            </c-patterns.form>
        </div>
    </div>
</c-layout.base>
