<c-layout.base
    title="Événements – TechPourToutes"
    description="Salons, portes ouvertes, hackathons, job datings : tous les événements de la tech à venir, pour t'orienter et rencontrer des professionnelles."
>
    <c-components.title title="Événements" title_bg="yellow" class="mb-(--grid-cell)" />

    {% include "beneficiary/partials/event_cards.html" %}

    <c-components.pagination :page="events" class="mt-(--grid-cell) self-center" />

    <div id="modal-container"></div>
</c-layout.base>
