<c-layout.email>
  <p style="font-size:15px;color:#374151;">Bonjour {{ beneficiary.first_name }},</p>
  <p style="font-size:15px;color:#374151;">
    Bienvenue chez <strong>TechPourToutes</strong>, merci de ton inscription&nbsp;!
  </p>
  <p style="font-size:15px;color:#374151;">
    Que tu sois en pleine réflexion sur ton orientation, en recherche d'un stage ou d'une alternance, ou simplement curieuse d'explorer l'univers de la tech, tu es au bon endroit. Notre mission est simple&nbsp;: te donner les ressources et un cadre bienveillant pour concrétiser tes ambitions.
  </p>
  <p style="font-size:15px;color:#374151;">
    Pour démarrer dans les meilleures conditions et adapter notre accompagnement à tes objectifs, je te propose de planifier dès maintenant notre premier échange&nbsp;: <a href="{{ booking_url }}" style="color:#0E6DC7;text-decoration:underline;">Support TechPourToutes</a>
  </p>
  <p style="font-size:15px;color:#374151;">
    Si tu préfères attendre un peu, pas de souci&nbsp;: nous reviendrons vers toi d'ici quelques jours. En attendant, n'hésite pas à te connecter à <a href="{{ account_url }}" style="color:#0E6DC7;text-decoration:underline;">ton espace personnel</a> pour faire un premier tour sur la plateforme&nbsp;!
  </p>
  <br>
  <p style="font-size:15px;color:#374151;">
    Au plaisir d'échanger très vite avec toi,<br>
    Océane de l'équipe TechPourToutes
  </p>
</c-layout.email>
